[2015-03-22 15:18] Grumbel opened #12 "SuperTux Milestone 1 extro.jpg does not match the actual game"
Original [issue 1](https://code.google.com/p/supertux/issues/detail?id=1) created by SuperTuxTeam on 2010-02-17T14:05:02.000Z:

Duo to a change in the tile background of the last level
data/images/background/extro.jpg no longer fits the game, causing a ugly
transition to the extro text.

[2015-03-22 15:18] #12 closed, assigned to nobody

[2015-03-22 15:18] Grumbel opened #13 "Backflip into the exit causes Tux to backflip throughout the whole level exit animation"
Original [issue 2](https://code.google.com/p/supertux/issues/detail?id=2) created by SuperTuxTeam on 2010-02-19T18:20:58.000Z:
1. Go to the end of a level
2. Backflip into the exit

SuperTux will backflip through the complete exit animation, shouldn't
happen, instead he should finish his backflip and then turn around and walk
normally.

[2015-03-22 15:18] #13 closed, assigned to nobody

[2015-03-22 15:18] Grumbel opened #14 "Having slopes that end in a wall produces Tux to jitter"
Original [issue 3](https://code.google.com/p/supertux/issues/detail?id=3) created by SuperTuxTeam on 2010-02-21T10:11:55.000Z:

&gt; What steps will reproduce the problem?
1. ./supertux data/levels/test/nightcave.stl
2. run into a wall
3. see Tux jitter

&gt; What is the expected output? What do you see instead?
Tux should either stop or turn into a push-wall animation.

[2015-03-22 15:18] Grumbel opened #15 "Using the cursor keys in the credit screen cause jumps in the scrolling"
Original [issue 4](https://code.google.com/p/supertux/issues/detail?id=4) created by SuperTuxTeam on 2010-02-23T11:45:10.000Z:
1. Go to the credits screen
2. Press up and down to force-advance the text

The text makes weird jumps when up is pressed, instead of a smooth upwards
scroll.

[2015-03-22 15:18] #15 closed, assigned to nobody

[2015-03-22 15:18] Grumbel opened #16 "Big after dying"
Original [issue 5](https://code.google.com/p/supertux/issues/detail?id=5) created by SuperTuxTeam on 2011-02-10T15:43:33.000Z:

If you die exactly when you take the Egg you'll be big at the spawning.

[2015-03-22 15:18] #16 closed, assigned to nobody

[2015-03-22 15:19] Grumbel opened #17 "Snapshot is a virus (Security Essentials / Backdoor Win32/Bisar!rts)"
Original [issue 6](https://code.google.com/p/supertux/issues/detail?id=6) created by SuperTuxTeam on 2011-06-05T22:29:29.000Z:

<b>What steps will reproduce the problem?</b>
Download with IE9 under W7 Security Essentials installed.
## <b>What is the expected output? What do you see instead?</b>

<b>What version of the product are you using? On what operating system?</b>
http://code.google.com/p/su

[2015-03-22 15:19] #17 closed, assigned to nobody

[2015-03-22 15:19] Grumbel opened #18 "cannot change graphic resolution"
Original [issue 7](https://code.google.com/p/supertux/issues/detail?id=7) created by SuperTuxTeam on 2011-06-30T15:50:59.000Z:

<b>What steps will reproduce the problem?</b>
1. My video card is intel gma4500
2. when i try to change resolution game broke up and start blinking
3. Also try witch fullscreen but the same.
4. Use XP SP3 and Supertux 0.3.3 unstable

thank you...

svilenbs@gmail.com

[2015-03-22 15:19] #18 closed, assigned to nobody

[2015-03-22 15:19] Grumbel opened #19 "SuperTux build issues with new libcurl or gcc 4.6.x"
Original [issue 8](https://code.google.com/p/supertux/issues/detail?id=8) created by SuperTuxTeam on 2011-08-09T12:49:16.000Z:

SuperTux 3.3 (and probably also some earlier versions) fail to build with libcurl 7.21.7.
It seems that the use of curl/types.h, which has been deprecated long ago, is the main cause.
Several solutions can be found after searching Google for &quot;supertux curl/types.h&qu

[2015-03-22 15:19] #19 closed, assigned to nobody

[2015-03-22 15:19] Grumbel opened #20 "Game Crash on Expansion Levels"
Original [issue 9](https://code.google.com/p/supertux/issues/detail?id=9) created by SuperTuxTeam on 2012-02-21T20:04:24.000Z:

<b>What steps will reproduce the problem?</b>
1.Download Packs
2.Open Them
3.Play Until it breaks

<b>What is the expected output? What do you see instead?</b>
I thought i would play the level, but got this:

[INFO] /build/buildd/supertux-0.3.3/src/object/tilemap.cpp:132

[2015-03-22 15:19] #20 closed, assigned to nobody

[2015-03-22 15:19] Grumbel opened #21 "Exception when naming a spawn point"
Original [issue 10](https://code.google.com/p/supertux/issues/detail?id=10) created by SuperTuxTeam on 2012-03-19T21:52:01.000Z:

<b>What steps will reproduce the problem?</b>
1. Create a new level
2. Add a second spawn point
3. Try to name the spawn point

<b>What is the expected output? What do you see instead?</b>

Expect it to just rename the spawn point.  Instead it throws an exception and do

[2015-03-22 15:20] #21 closed, assigned to nobody

[2015-03-22 15:20] Grumbel opened #22 "Level not working in-game"
Original [issue 11](https://code.google.com/p/supertux/issues/detail?id=11) created by SuperTuxTeam on 2012-04-07T02:55:27.000Z:

<b>What is the expected output? What do you see instead?</b>
Level crashes game

<b>What version of the product are you using? On what operating system?</b>
Windows XP

<b>Please provide any additional information below.</b>
I am not sure if you are not allowed to do th

[2015-03-22 15:20] #22 closed, assigned to nobody

[2015-03-22 15:20] Grumbel opened #23 "Building issue with Squirrel"
Original [issue 12](https://code.google.com/p/supertux/issues/detail?id=12) created by SuperTuxTeam on 2012-05-24T15:09:16.000Z:

I downloaded the latest version of Supertux from git here, and in the directory, ./configure and then make.

Here is what I got:
[julien@blackiris2 supertux]$ make
make -C build
make[1] : on entre dans le répertoire « /home/julien/svn/supertux/build »
make[2] : on entre

[2015-03-22 15:20] #23 closed, assigned to nobody

[2015-03-22 15:20] Grumbel opened #24 "Tux's feet can be seen under the igloo at the end of a level"
Original [issue 13](https://code.google.com/p/supertux/issues/detail?id=13) created by SuperTuxTeam on 2012-05-27T07:14:48.000Z:

<b>What steps will reproduce the problem?</b>
Finish a level

<b>What is the expected output? What do you see instead?</b>
Should not see tux begin exitfg.png (foreground)

<b>Please provide any additional information below.</b>
Just increased the height of exitbg.png a

[2015-03-22 15:20] Grumbel opened #25 "Patch for /data/credits.txt"
Original [issue 14](https://code.google.com/p/supertux/issues/detail?id=14) created by SuperTuxTeam on 2012-06-12T07:11:58.000Z:

The Sound Effects list is sorted by last name, and the Translation section is named to Localization with all of the available language files. Ondra is renamed to Ondřej.

[2015-03-22 15:21] #25 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #26 "Another patch for /data/credits.txt"
Original [issue 15](https://code.google.com/p/supertux/issues/detail?id=15) created by SuperTuxTeam on 2012-06-22T16:39:46.000Z:

Another patch

[2015-03-22 15:21] #26 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #27 "Languages for Credits Translation"
Original [issue 16](https://code.google.com/p/supertux/issues/detail?id=16) created by SuperTuxTeam on 2012-10-02T05:50:29.000Z:

Which langauges does the Credits File wants to be translated?

For example, French, Italian, Spanish and Russian are accepted but German is unaccepted.

[2015-03-22 15:21] #27 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #28 "Patch for /data/credits.txt"
Original [issue 17](https://code.google.com/p/supertux/issues/detail?id=17) created by SuperTuxTeam on 2012-10-02T20:02:30.000Z:

Special Thanks section is added to credits.

[2015-03-22 15:21] #28 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #29 "TTF Font Support"
Original [issue 18](https://code.google.com/p/supertux/issues/detail?id=18) created by SuperTuxTeam on 2012-10-15T23:26:33.000Z:

It will be great if Super Tux should have TTF support provided by FreeType.

[2015-03-22 15:21] #29 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #30 "Update Polish Translation"
Original [issue 19](https://code.google.com/p/supertux/issues/detail?id=19) created by SuperTuxTeam on 2012-11-03T15:25:21.000Z:

Update Polish Translation to contain all accented letters. Encoding for this translation has to be UTF-8.

[2015-03-22 15:21] #30 closed, assigned to nobody

[2015-03-22 15:21] Grumbel opened #31 "Patch for /data/credits.txt"
Original [issue 20](https://code.google.com/p/supertux/issues/detail?id=20) created by SuperTuxTeam on 2013-01-03T08:32:25.000Z:

Additional/Previous Contributors section is added. The blue letters are nicknames with no full name. Also, another patch for editing the files. Karl Ove Hufthammer from the Localization section is moved to the correct letter. It will be good if the file will be included

[2015-03-22 15:22] #31 closed, assigned to nobody

[2015-03-22 15:22] Grumbel opened #32 "bug on every graphic card( can not change graphic, this does not save )"
Original [issue 21](https://code.google.com/p/supertux/issues/detail?id=21) created by SuperTuxTeam on 2013-04-21T22:19:18.000Z:

i use win7 64 bit and my graphic card is a AMD HD 6770, ok i try it again with out full screen, but i think it does not change no resolution image, it was yesterday so

update now: i only can play with 640x480 with full screen not other grafic rosultion, but it look goo

[2015-03-22 15:22] #32 closed, assigned to nobody

[2015-03-22 15:22] Grumbel opened #33 "Add new translators to the translation credits."
Original [issue 22](https://code.google.com/p/supertux/issues/detail?id=22) created by SuperTuxTeam on 2013-06-01T10:21:10.000Z:

Please add new translators to the translation credits. They are located on credits.txt.

Daniela Ferraz, Portuguese (Portugal and Brazil)
Tobias Markus (Mozilla), German

[2015-03-22 15:23] #33 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #34 "Supertux lacking deadzones for Xbox 360 joysticks"
Original [issue 23](https://code.google.com/p/supertux/issues/detail?id=23) created by SuperTuxTeam on 2013-08-07T04:08:37.000Z:

<b>What steps will reproduce the problem?</b>
1. Try playing supertux with Xbox 360 controller

<b>What is the expected output? What do you see instead?</b>
I expect nothing to happen when the joystick is idle.
Instead menus flick up and down and tux constantly runs.

<

[2015-03-22 15:23] #34 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #35 "Re-enabled the frame in the main menu"
Original [issue 24](https://code.google.com/p/supertux/issues/detail?id=24) created by SuperTuxTeam on 2013-09-14T09:53:00.000Z:

PS. the game is optimized for the 800x600 resolution and resolutions above 800x600 are not officialy supported by game and may contain display bugs.

[2015-03-22 15:23] #35 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #36 "Patch for credits"
Original [issue 25](https://code.google.com/p/supertux/issues/detail?id=25) created by SuperTuxTeam on 2013-09-28T00:21:51.000Z:

Fix sort order for Hufthammer's name and add packaging team.

[2015-03-22 15:23] #36 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #37 "Patch for /src/badguy/livefire.cpp"
Original [issue 26](https://code.google.com/p/supertux/issues/detail?id=26) created by SuperTuxTeam on 2013-10-15T08:28:42.000Z:

Make it compile with Mingw

[2015-03-22 15:23] #37 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #38 "Patch for /src/badguy/sspiky.cpp"
Original [issue 27](https://code.google.com/p/supertux/issues/detail?id=27) created by SuperTuxTeam on 2013-10-15T08:28:43.000Z:

Make it compile with Mingw

[2015-03-22 15:23] #38 closed, assigned to nobody

[2015-03-22 15:23] Grumbel opened #39 "0.3.4 does not allow me to abort picnic with penny"
Original [issue 28](https://code.google.com/p/supertux/issues/detail?id=28) created by SuperTuxTeam on 2013-10-16T14:45:55.000Z:

<b>What steps will reproduce the problem?</b>
1. Download and compile supertux-0.3.4.tar.bz2
2. Attempt to play.

<b>What is the expected output? What do you see instead?</b>

Expect to be able to play the game. Can't.

<b>What version of the product are you using? On w

[2015-03-22 15:24] #39 closed, assigned to nobody

[2015-03-22 15:24] Grumbel opened #40 "Patch for /supertux-editor/supertux-editor.csproj"
Original [issue 29](https://code.google.com/p/supertux/issues/detail?id=29) created by SuperTuxTeam on 2013-10-19T15:39:52.000Z:

Fix compiler warning

[2015-03-22 15:24] #40 closed, assigned to nobody

[2015-03-22 15:24] Grumbel opened #41 "Patch for /data/levels/world1/01 - Welcome to Antarctica.stl"
Original [issue 30](https://code.google.com/p/supertux/issues/detail?id=30) created by SuperTuxTeam on 2013-10-26T15:11:30.000Z:

the coin cost for checkpoints is restored now, getting the old info back.

[2015-03-22 15:24] #41 closed, assigned to nobody

[2015-03-22 15:24] Grumbel opened #42 "Unreachable secret area in "Kneep-deep in the depth""
Original [issue 31](https://code.google.com/p/supertux/issues/detail?id=31) created by SuperTuxTeam on 2013-11-02T17:49:37.000Z:

I cannot reach the secret area in &quot;Kneep-deep in the depth&quot; (levels/world2/christophB.stl). Tux's jump is almost high enough to reach the platform, but not quite.

Moving the secret area one tile to the left or reducing the gravity to 9.8 is sufficient to make

[2015-03-22 15:24] #42 closed, assigned to nobody

[2015-03-22 15:24] Grumbel opened #43 "SuperTux Death sound is too jaring"
Original [issue 32](https://code.google.com/p/supertux/issues/detail?id=32) created by SuperTuxTeam on 2013-11-09T19:43:03.000Z:

I find that the death sound is quite loud and startling.

In 0.3.4, it was improved as there is a separate &quot;hurt&quot; sound.

I modified the hurt sound, playing around with it in Audacity.

I attached my candidate as a wav file, and my Audacity project

Attachment

[2015-03-22 15:24] Grumbel opened #44 "Mingw builds fail with Rusty Trampoline"
Original [issue 33](https://code.google.com/p/supertux/issues/detail?id=33) created by SuperTuxTeam on 2013-11-10T09:03:02.000Z:

when i try to build supertux with mingw, the program gives me a bunch of errors about rusty trampoline, however when i remove rusty trampoline from the source, supertux builds fine. what the heck is just wrong with Mingw and rusty trampoline?

[2015-03-22 15:25] #44 closed, assigned to nobody

[2015-03-22 15:25] Grumbel opened #45 "Add dead script for ghost tree"
Original [issue 34](https://code.google.com/p/supertux/issues/detail?id=34) created by SuperTuxTeam on 2013-12-20T12:32:48.000Z:

I added the dead script to ghost tree (forest world boss) although i'm not sure that it actually works but i just experiment to find if it works.

[2015-03-22 15:25] #45 closed, assigned to nobody

[2015-03-22 15:25] Grumbel opened #46 "Build fail when compiling with gcc"
Original [issue 35](https://code.google.com/p/supertux/issues/detail?id=35) created by SuperTuxTeam on 2014-03-05T01:13:35.000Z:

<b>What steps will reproduce the problem?</b>
1. in the mac terminal type:  cmake .. -DCMAKE_INSTALL_PREFIX=../dist/ -DCMAKE_BUILD_TYPE=RELEASE -DCMAKE_CXX_COMPILER=gcc -DCMAKE_C_COMPILER=gcc &amp;&amp; make
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do y

[2015-03-22 15:25] #46 closed, assigned to nobody

[2015-03-22 15:25] Grumbel opened #47 "Some problems with the Supertux Editor 0.3.0"
Original [issue 36](https://code.google.com/p/supertux/issues/detail?id=36) created by SuperTuxTeam on 2014-05-02T20:07:02.000Z:

Hello team of SuperTux, i'm Pedro Cuadra, and i'm here for inform you some  problems that i have with the editor:
- i use windows 7 and 8.1 64 bit. I have the &quot;Supertux 0.3.4&quot; with &quot;SuperTux Editor 0.3.0&quot; and &quot;Mono 1.2&quot; (this is the only th

[2015-03-22 15:25] #47 closed, assigned to nobody

[2015-03-22 15:25] Grumbel opened #48 "SuperTux-SDL2 doesn't compile against SDL 2 (default hg branch"
Original [issue 37](https://code.google.com/p/supertux/issues/detail?id=37) created by SuperTuxTeam on 2014-05-06T23:56:14.000Z:

It seems that there are a few SDL 2 changes that the SuperTux-SDL2 branch is incompatible with in SDL

I attached a .diff, it takes me to 95%, instead of 8%, but it seems the last few files are where the compatibility issues are... and I'm not sure that all the changes

[2015-03-22 15:26] #48 closed, assigned to nobody

[2015-03-22 15:26] Grumbel opened #49 "Problems with the editor 0.3.4"
Original [issue 38](https://code.google.com/p/supertux/issues/detail?id=38) created by SuperTuxTeam on 2014-05-10T01:12:52.000Z:

Hi SuperTux Team, I'm Pedro Cuadra again, I've been reviewing editor 0.3.4 with the latest version of Mono. At first, all good (first image), but when I open or make a new level, the editor remains as in the second image.

Attachments:
* [problem3.png](https://storage.g

[2015-03-22 15:26] Grumbel opened #50 "Updated Czech translation"
Original [issue 39](https://code.google.com/p/supertux/issues/detail?id=39) created by SuperTuxTeam on 2014-11-22T15:25:16.000Z:

Hi, I updated czech translation of levels and added translation to &quot;*NEW*&quot; in contrib menu.

Attachments:
* [translation.patch](https://storage.googleapis.com/google-code-attachments/supertux/issue-39/comment-0/translation.patch)

[2015-03-22 15:26] Grumbel opened #51 "Detecting language does not work, need to select language manually"
Original [issue 40](https://code.google.com/p/supertux/issues/detail?id=40) created by SuperTuxTeam on 2014-12-14T15:05:58.000Z:

<b>What steps will reproduce the problem?</b>
1. Start SuperTux from command line. $LANG is for example fi_FI.UTF8 , de_DE.UTF8 or fr_FR.UTF8
2. Not all strings are translated, for example world names etc, so I need to select language manually from menu.
3. When I selec

[2015-03-22 15:26] #51 closed, assigned to nobody

[2015-03-22 15:26] Grumbel opened #52 "Please update de app"
Original [issue 41](https://code.google.com/p/supertux/issues/detail?id=41) created by SuperTuxTeam on 2015-01-11T20:36:55.000Z:

Please, pass at normal to beta the version 0.3.4.

And Actualizad all languages (especially Catalan, I've updated)

[2015-03-22 15:27] Grumbel opened #53 "can't left-jump while carrying a spring"
Original [issue 42](https://code.google.com/p/supertux/issues/detail?id=42) created by SuperTuxTeam on 2015-02-25T14:40:23.000Z:

<b>What steps will reproduce the problem?</b>
0. Select &quot;Jump with Up&quot;
1. In Duct Ape of Spring Level
2. Grab spring with 'alt'
3. Hit 'jump &amp; left' concurrently -- won't work

<b>What is the expected output? What do you see instead?</b>
When you hit 'jump

[2015-03-22 15:27] #53 closed, assigned to nobody

[2015-03-22 15:27] Grumbel opened #54 "incubator island level broken"
Original [issue 43](https://code.google.com/p/supertux/issues/detail?id=43) created by SuperTuxTeam on 2015-02-26T19:58:16.000Z:

<b>What steps will reproduce the problem?</b>
1. Using GIT
2. Go to Incubator Island
3. Press enter on any level

<b>What is the expected output? What do you see instead?</b>
I should be able to enter the level. Instead I'm redirected to the home screen. Basically, it's

[2015-03-22 15:27] #54 closed, assigned to nobody

[2015-03-22 15:27] Grumbel opened #55 "Revert "Load audio earlier in the process. Might save us some time""
Original [issue 44](https://code.google.com/p/supertux/issues/detail?id=44) created by SuperTuxTeam on 2015-03-17T11:54:00.000Z:

This reverts commit c0e497c19521c1868f44c0fd21bbf666a66654be&amp;r=c0e497c19521c1868f44c0fd21bbf666a66654be.
Changing the order of load components can lead to serious problems!

[2015-03-22 15:27] #55 closed, assigned to nobody

[2015-04-04 19:57] tobbi commented on #14
This is fixed properly with c12910d.

We now set the on_ground flag even though Tux is slightly above the ground. This fixes the alternating states. Tux can now jump properly, it still jitters a *little* bit, but I think this fixes it better.

[2015-04-07 08:40] tobbi commented on #14
This is a nightmare. Now Tux doesn't jitter but has problems jumping on sloped tiles.

[2015-04-12 13:18] dusek opened #60 "OS X binary of 0.3.5 fails to load because of missing /opt/local/lib/libSDL2-2.0.0.dylib"
Steps:
1. Download and open https://github.com/SuperTux/supertux/releases/download/v0.3.5/SuperTux-0.3.5-osx-intel.dmg
2. Copy the SuperTux app bundle to /Applications
3. Launch SuperTux (e.g. using Spotlight)

Result:
Fails to launch with this information appearing (information in the end removed):
[code]

[2015-04-12 13:29] maxteufel commented on #60
@dusek: This is because we forgot to bundle the libraries in the binary.

To fix this, include the *.dylib files we need in the .app and modify the path in the binary using `otool(1)` and `install_name_tool(1)` (they take relative paths too). Due to my slow internet connection I can unfortunately not do this and upload the binary.

[2015-04-12 13:31] dusek commented on #60
Thanks for the superfast response, will try that.

[2015-04-12 13:32] maxteufel commented on #60
Well, unless you have those libraries installed somewhere else (e.g. by homebrew) you can't do that.

[2015-04-12 13:39] dusek commented on #60
Seems to work this way:
1. Install sdl2 from Homebrew: `brew install sdl2`
2. Change the library name in SuperTux.app: `install_name_tool -change /opt/local/lib/libSDL2-2.0.0.dylib /usr/local/opt/sdl2/lib/libSDL2-2.0.0.dylib /Applications/SuperTux.app/Contents/MacOS/supertux2`

Now it stops complaining about libsdl2. However it starts to complain about libsdl2_image, and looking at output of `otoo

[2015-04-12 13:42] tobbi commented on #60
I will take a look later this day. Thanks for notifying me.

[2015-04-12 13:48] maxteufel commented on #60
### For everyone who downloaded the affected build

Exactly, that's why I wrote `the *.dylib files we need`.

This should work, at least if they're the same version.

If you prefer to avoid issues when the libraries are updated in homebrew, copy the files you need to `/Applications/SuperTux.app/Contents/lib/` and change the library path to a relative one (`../lib/$lib` from the `/Applications/Supe

[2015-04-12 13:56] tobbi commented on #60
I will delete the affected build for now.

[2015-04-12 14:33] tobbi commented on #60
Can you please try the dmg here: https://www.dropbox.com/s/882pf938jh6pqa4/SuperTux-0.3.5-osx-intel.dmg?dl=0 It has all dependencies included into it.

[2015-04-12 14:40] dusek commented on #60
It does not work. You probably forgot to include the `SuperTux.app/Contents/libs` directory as it is not present and it complains about:

[code]

[2015-04-12 15:09] tobbi commented on #60
I uploaded a new dmg file under the same path. Please re-download.

[2015-04-12 15:12] dusek commented on #60
Yes, this works. Thanks :-)

[2015-04-12 15:18] tobbi commented on #60
I uploaded a new dmg file to the downloads section. Can you please try that one as well?

[2015-04-12 15:27] dusek commented on #60
It works as well (it unexpectedly quits on first launch when OS X asks whether or not to launch an app downloaded from internet; but on second attempt, it works; I tried this twice (deleted the app, recopied from dmg; I think this happened also with the previous download you put to dropbox). I guess most users will impatiently try to launch again and then they are set, so probably not a big deal.

[2015-04-12 15:30] maxteufel commented on #60
Could you anyway get a stacktrace (either from OS X's Crash Reporter or from gdb) and open another issue? Thanks.

[2015-04-12 15:30] tobbi commented on #60
Yeah, please do open another issue. I will close this one as fixed for now.

[2015-04-12 15:30] #60 closed

[2015-04-12 15:46] dusek opened #61 "SuperTux 0.3.5 unexpectedly quits on first launch on OS X"
When I download SuperTux 0.3.5 binary release, open the .dmg, drag the app to the Applications alias (and unmount the .dmg), then hit Cmd-Spacebar (to launch spotlight) and type supertux, wait until it appears as a result and hit enter. Then SuperTux icon starts bouncing in the dock (as is usual for launching app) and after a few (3-5) seconds, a security dialog appears:

![screen shot 2015-04-12

[2015-04-12 16:50] tobbi commented on #61
Open up Log Console by following http://www.tech-recipes.com/rx/3521/os-x-how-to-view-log-files/ and select the first item on the left (all logs).

See if you find something like this:
12.04.15 18:44:36,973 com.apple.xpc.launchd[1]: (com.apple.xpc.launchd.oneshot.0x10000013.supertux2[5066]) Service exited with abnormal code: 1

[2015-04-12 16:53] dusek commented on #61
I already included that in the original bug report (end of the paragraph right after the screenshot). I do see something like that.

[2015-04-12 21:05] tobbi commented on #52
SuperTux 0.3.5 was released yesterday. Download from https://github.com/SuperTux/supertux/releases/tag/v0.3.5.

[2015-04-12 21:05] #52 closed

[2015-04-14 10:37] Wuzzy2 opened #64 "Enemies which fall off the map do not count as kills"
Enemies which fall off the map do not count as kills.
This is the case even for Mr. Iceblock (and similar enemies) if you actively knocked him away.

This is really counter-intuitive and probably not really intended anyways.

I used commit bc7fab7.

[2015-04-14 10:37] Wuzzy2 opened #65 "Main game boss does not count as enemy"
The level scores (if you win) of the main game boss (the yeti) says there are 0 enemies, while there is clearly 1. ;-)

Commit bc7fab7.

[2015-04-23 19:39] alketii opened #67 "Nessie's Pond is unbalanced"
I have won all levels in Story Mode with Intermediate but not Nessie's Pond, it is un-winnable with Novice and Intermediate modes, time runs out no matter what, but I won it as Expert mode.

[2015-04-23 19:42] #67 closed

[2015-05-01 11:14] crpradio opened #68 "SuperTux 0.3.5 - MSVCR120D.dll not found"
![tuxscreenshot](https://cloud.githubusercontent.com/assets/600632/7429579/00793292-f004-11e4-87d8-f8efaf8c8097.png)

[2015-05-03 06:47] JanMiddelkoop commented on #68
I'm running into the same problem on Windows 7 64-bit.  SuperTux is looking for the MSVCR120D.dll file, but can't find it.  The "D" at the end of the filename seems to suggest the released .exe is compiled in debug mode, rather than release mode.

[2015-05-03 12:00] Flakebi commented on #68
I'm sorry for that inconvenience, we will hopefully release a fixed version in the next days. :-)

Some background information:
SuperTux was compiled in release mode, unfortunately Visual Studio decided to link against the debug libraries too because `strdup` was used. Replacing that calls from the source code fixed it.

[2015-05-07 13:07] davidrohusch opened #69 "Fireball Issue ?"
The more flowers he pick up, the more fireballs he can shoot consecutively.
Is this bug?

[2015-05-07 13:08] Flakebi commented on #69
No, that is intended behaviour. The more flowers you collect, the more powerful you get.

[2015-05-07 13:14] davidrohusch commented on #69
Oh ok ^^

[2015-05-07 13:17] davidrohusch opened #70 "Picnic with Penny - Sound glitch, if Menu is opened"
If I open menu while talking with Penny, he will sing anyway.
(I do really want to help you with collecting glitches and bugs, but my English is just bad.)

[2015-05-07 16:42] #69 closed

[2015-05-08 12:08] tobbi commented on #68
Please check if the just-released version of 0.3.5a fixes it.

[2015-05-08 16:00] crpradio commented on #68
Where can I find the version of 0.3.5a (exe file)?

[2015-05-08 16:03] Flakebi commented on #68
You can find the installers [here](https://github.com/SuperTux/supertux/releases/tag/v0.3.5a)

[2015-05-08 16:37] crpradio commented on #68
thx

[2015-05-09 10:54] tobbi commented on #68
Can you verify that it worked?

[2015-05-09 11:02] JanMiddelkoop commented on #68
I can.  It works, I do however see a debug console window with a warning from "supertux\src\addon\addon_manager.cpp", "120 parsing repository.nfo failed".  System cannot find the path specified.  Should I create that as a seperate issue?

[2015-05-09 11:17] maxteufel commented on #68
Yes, that's a different issue.

[2015-05-09 11:17] #68 closed

[2015-05-09 11:20] tobbi commented on #70
Yeah, we do pause music, but not sounds when you press the escape button to open the game menu. We should probably fix it.

[2015-05-09 18:59] #65 closed

[2015-05-10 08:40] svenstaro opened #71 "Please don't do point releases that are versioned below the currently releases version"
You just released 0.3.5a which means 0.3.5alpha which and 0.3.5a < 0.3.5. As a package maintainer I would like to ask you to make incremental releases instead and do 0.3.5.1 or even 0.3.6 since semantically, the last digit is a patch release.

Hopefully this doesn't come across as smug. I just noticed this and it will causes an inconvenience for other package maintainers as well so I decided to gi

[2015-05-10 09:00] maxteufel commented on #71
OpenSSL does the same, I don't expect that to cause big problems. (@svenstaro: You're the Arch packager, right? The openssl packager is actually doing a.b.c**.**d, which, in pacman, is > a.b.c)

Anyway, I think our versioning scheme is broken. Instead of doing releases like (0.3.5, 0.3.6), there should be 0.3.0 (0.3.x for patches) and then 0.4.x and so on.

[2015-05-10 09:03] svenstaro commented on #71
Yeah OpenSSL isn't exactly following software engineering practices either. http://semver.org/ is excellent and should be followed. I know what our openssl package is using and I will have to use that with supertux as well but that's a bit of a pity because a patch version would totally have done this for you guys. Your use of versioning seems a bit arbitrary tbh :p

[2015-05-10 09:08] maxteufel commented on #71
Exactly. I propose to use 0.4.0 for our next release, and then follow SemVer in the future.

[2015-05-10 09:08] svenstaro commented on #71
Works for me then.

[2015-05-10 09:12] tobbi commented on #71
looks okay to me, so, let's go ahead and do it this way.

[2015-05-10 13:52] sydneyjd commented on #71
Looks ok to me also, even though it does seem like large number jumps. \o/

[2015-05-10 14:17] maxteufel commented on #61
Does this still happen with the 0.3.5a release? If not, please close this issue. Thanks.

[2015-05-14 13:20] jumpball opened #72 "Tux Is at the Wrong Level on the World Map"
I installed Supertux 0.3.5a and opened it. Tux wasn´t on the first level, he was between the fourth and the fifth level and all levels weren´t done.

[2015-05-20 04:21] sydneyjd commented on #72
Issue with the config...
@jumpball What OS are you running?

[2015-05-20 08:29] tobbi opened #73 "Try to move squirrel calls to another thread"
I'm not sure if Squirrel is thread-safe but we spend too much time loading and saving the table on the main thread. I think we should try to move those calls to another thread.

[2015-05-26 20:06] zeos386sx commented on #61
I am getting the same or similar bug.

error: http://pastebin.com/qZAzRMwL

although if I try to run from terminal I get "illegal operation 4"

[2015-05-27 23:10] n3rdopolis opened #74 "Supertux master fails to compile with glbinding master"
It seems I get this error after building with cmake .. -DCMAKE_INSTALL_PREFIX=$INSTALLDIR -DCMAKE_PREFIX_PATH=$INSTALLDIR  -DGLBINDING_ENABLED=ON -DCMAKE_BUILD_TYPE=RELEASE

[ 91%] Building CXX object CMakeFiles/supertux2.dir/src/video/texture_manager.cpp.o
/srcbuild/supertux/src/video/gl/gl_renderer.cpp: In constructor ‘GLRenderer::GLRenderer()’:
/srcbuild/supertux/src/video/gl/gl_renderer.cpp:78

[2015-05-28 01:47] n3rdopolis commented on #74
It seems that it still compiles with  glbinding's v1.0.5  tag

[2015-05-28 08:51] tobbi commented on #74
@scheibel Any idea what we need to do, or can you provide a patch?

[2015-05-28 12:44] Savsish opened #75 "Release SuperTux 0.3.6 before Milestone 2 (0.4.0)"
The site says that The SuperTux Development Team have put our heads together, and they are going to try to officially release Milestone 2 sometime in December. However that feels a way too rushed and will be full of bugs and/or missing features. Hey developers, please release SuperTux 0.3.6 first, so we will have more time to fix bugs, add new features etc.

[2015-05-28 12:48] maxteufel commented on #75
As per #71, the next release will be 0.4.0 in order to change our versioning scheme to [SemVer](http://semver.org/), that means 0.4.0 would be the new 0.3.6. Anyway, the 0.3.x releases are pretty much a preview release of Milestone 2.

[2015-05-28 12:49] #75 closed

[2015-05-28 14:24] Savsish commented on #75
Hey maxteufel Please release SuperTux 0.3.6 before Milestone 2 (0.4.0)

[2015-05-28 15:40] Savsish opened #76 "Update translations for SuperTux 0.4.0"
Please update all the translations and change the egg-0.png to egg.png in the string "Eggs The egg makes Tux grow larger. Tux can then smash wooden blocks with his head." for SuperTux 0.3.6, before Milestone 2 being officially released.

[2015-05-28 15:48] Savsish commented on #76
And please make sure that the next release will be 0.3.6, so that there will be more time to fix bugs, add new features, update translations etc.

[2015-05-28 15:55] maxteufel commented on #76
@Savsish did you actually read what I wrote in #75?

[2015-05-28 17:06] Savsish commented on #76
Yes, but we just wanted to beg them to release another preview version (0.3.6) to help someone in development, instead of officially releasing Milestone 2 (0.4.0), so that version 0.4.0 will be delayed for uncertain date.

[2015-05-28 17:26] maxteufel commented on #76
@Savsish 0.4.0 **will be** 0.3.6, it's just a different versioning. Instead of 0.3.{0...Infinity}({a...z}) we'll do 0.{4...Infinity}(.{0...Infinity}) and so on. Anyway, if there's more time needed to finish 0.4.0, it can always be delayed (the announcement on the web site is only a plan for the future). As always, feel free to help (search for bugs, fix existing bugs, translate, ...).

[2015-05-28 17:58] Savsish commented on #76
No, the versioning should be 0.3.6 then 0.4.0 and so on. I think that's seems fine to me.

[2015-05-28 18:04] giby commented on #76
Ok, I update…

By the way, need attention:
Albanian (sq) 25% 530 strings to translate
Chinese (China) (zh_CN) 25% 533 strings to translate
Slovenian (sl) 24% 539 strings to translate
Dutch (nl) 23% 548 strings to translate
Romanian (ro) 22% 549 strings to translate
Esperanto (eo) 19% 572 strings to translate
Lithuanian (lt) 19% 576 strings to translate
Estonian (et) 18% 577 strings to translate
Bu

[2015-05-28 18:14] maxteufel commented on #76
Well, in ticket number #71 (please **read it**) we decided (well, no one was against) to switch to the [SemVer Versioning Scheme](http://semver.org/) (please **read this as well if you're interested**). SemVer defines that minor updates increase the Y in X.Y.Z, bugfixes increase the Z in X.Y.Z. That way, the next release will be 0.4.0.

Do we really need such exotic languages?

[2015-05-28 18:27] giby commented on #76
Well, some people started it... so… they are in ;)

[2015-05-28 18:34] maxteufel commented on #76
Well, there should be some restriction to prevent "translation spam" with translations with just a few words translated (and then the players potentially complaining "yes why does it use English when my language is set to xyz?!?").

[2015-05-28 21:37] giby commented on #76
anyway, empty languages are not pushed, are they?

[2015-05-31 08:44] maxteufel commented on #61
Closing due to inactivity.

@zeos386sx if you can provide a backtrace (using gdb/lldb?), please open a new issue, the OS X crash report is basically useless w/o backtrace.

[2015-05-31 08:44] #61 closed

[2015-05-31 09:20] #74 closed

[2015-05-31 13:26] tobbi commented on #74
So, just for reference: I added the relevant include for glbinding to SuperTux. I hope it still compiles with earlier versions of glbinding, that I did not check.

[2015-05-31 21:33] scheibel commented on #74
It seems like your findings are correct. We cleaned up the include structure of glbinding and it is actually possible that i have chosen the *wrong* one with my PR. ```#include <glbinding/Binding.h>``` should work with each release of glbinding (1.0 and later).

[2015-05-31 23:30] supertux12 opened #77 "I can run supertux as root, not as user"
Hello,

I can run supertux as root, not as user:
$ /usr/games/supertux
Datadir: /usr/share/games/supertux
X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  154 (GLX)
  Minor opcode of failed request:  3 (X_GLXCreateContext)
  Value in failed request:  0x0
  Serial number of failed request:  26
  Current serial number in output st

[2015-06-01 00:51] supertux12 commented on #77
Seems a problem not related to supertux. Another OpenGL  program gives same error.

[2015-06-01 00:51] #77 closed

[2015-06-01 17:24] Flakebi commented on #77
I don't know how debian handles this, but on other OSs you have to add yourself to the `video` group, otherwise you don't have access to your graphic driver (and the allocation of an OpenGL context fails).

[2015-06-02 07:29] nemysis opened #79 "SuperTux 0.3.5a nonvoid mistake"
I try to update in openSUSE SuperTux to 0.3.5a, but get in build:

[code]

Please correct this.

[2015-06-02 08:19] maxteufel commented on #79
How do you try to build it (e.g. what tools, exact description of the build procedure) and what's the complete output?

[2015-06-02 08:51] nemysis commented on #79
I use build with openSUSE Tools

[code]
and this is

[code]
[code]

This is complete output

[code]

I can't give complete build log here, is not supported. Add please this, not only for images. Thanks

[2015-06-02 09:47] maxteufel commented on #79
Blame the developers of the software you're using to build it?

This is only a warning, not a fatal build error which would cause a build to fail (Also, the v0.3.5a [CI build](https://travis-ci.org/SuperTux/supertux/builds/61708931) is successful).

It could help if you post the spec file, or even try another one (e.g. the one from fedora).

[2015-06-02 16:27] supertux12 commented on #77
After adding myself to group 'video' there is no difference :(
Thanks anyway.

[2015-06-02 20:35] supertux12 commented on #77
After last update of Debian this issue is solved.
All GLX programs can be run again by user.
I don't know which update is responsible.

Thanks

[2015-06-03 02:27] Vincent-C opened #80 "Build failure on various big-endian archs"
Supertux 0.3.5a currently fails to build on Debian mips, powerpc, s390x, and sparc; tail of build log as follows:

[code]

Full build logs available at [buildd.debian.org](https://buildd.debian.org/status/package.php?p=supertux&suite=sid) (links to [mips](https://buildd.debian.org/status/fetch.php?pkg=supertux&arch=mips&ver=0.3.5a-1&stamp=1433244784), [powerpc](https://buildd.debian.org/status/fet

[2015-06-03 20:49] #70 closed

[2015-06-04 13:02] Savsish opened #81 "Fix all bugs before releasing SuperTux 0.4.0"
Please fix all bugs if possible before releasing SuperTux 0.4.0

[2015-06-04 13:07] maxteufel commented on #50
Do we still need this patch or can we close this? (Cc: @giby)

[2015-06-04 13:12] maxteufel commented on #81
Indeed, all [milestone 0.4.0 bugs](https://github.com/SuperTux/supertux/milestones/0.4.0) should be fixed/resolved before the release. Unfortunately there are some bug reports that are unusable (migrated from Google Code but not providing all information). Closing this as this report is pretty much unnecessary.

[2015-06-04 13:12] #81 closed

[2015-06-04 22:30] KroArtem commented on #80
I'm not sure it was working at all. Probably you should try to directly cast tmp to void *, something like this:
[code]

[2015-06-05 07:49] tobbi commented on #80
@Vincent-C: Can you try to change the relevant lines to what @KroArtem said and see if that works? If it does, please provide a patch.

[2015-06-05 08:54] amigadave commented on #79
The complete buld log for supertux 0.3.5a in Fedora is https://kojipkgs.fedoraproject.org//packages/supertux/0.3.5a/1.fc23/data/logs/x86_64/build.log and shows the same warnings (and a few others, but they seem minor). Applying a patch to add "return *this;" to both assignment operators fixes the warning: https://kojipkgs.fedoraproject.org//work/tasks/4350/9954350/build.log

[2015-06-05 11:55] maxteufel commented on #79
Oops, forgot to close this when I merged #82.

@amigadave: Try `Closes #XYZ` in the commit message next time so it really closes the issue when it's merged.

[2015-06-05 11:55] #79 closed

[2015-06-05 12:09] #71 closed

[2015-06-07 08:24] Vincent-C commented on #80
@KroArtem, thanks! Unfortunately, a test powerpc build still fails with that change:

[code]

[2015-06-09 23:54] Danfun64 opened #83 "Issues with Yeti's Revenge"
Yeti's Revenge: A certain section of the level "All's Well That Ends Well" isn't particularly fun for epileptics, as it mainly consists of rapidly switching colored backgrounds and a continuous ringing of the 1-up sound. To make matters worse, the level immediately afterwards crashes the game.

[2015-06-09 23:54] Dynamicwork commented on #83
Works Mobile - http://www.worksmobile.com
--------------------------------------------

dynamicwork@dynamicwork.org 님께 보내신 메일 <[supertux] Seizure Warning in addon level. (#83)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-06-10 00:05] Danfun64 opened #84 "Something has to be done about 0.1.x custom levels like Tux Strikes Back."
At it stands, the supertux editor can't load these old levels. It's amazing that 0.3.x can load them at all. I suggest that certain measures be taken to solve this problem.

1. Improve 0.1.x map compatibility in the game itself. This would consist of windowboxing 0.1.x levels to the 640x480 resolution found in 0.1.x, perhaps with a super game boy style border. It would also require that backtracki

[2015-06-10 00:05] Dynamicwork commented on #84
Works Mobile - http://www.worksmobile.com
--------------------------------------------

dynamicwork@dynamicwork.org 님께 보내신 메일 <[supertux] Tux Strikes Back needs an overhaul (#84)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-06-10 07:34] giby commented on #84
Many Bonus and addons need love... But as long as flexley isn't running properly, I cannot do anything...

[2015-06-10 07:34] Dynamicwork commented on #84
Works Mobile - http://www.worksmobile.com
--------------------------------------------

dynamicwork@dynamicwork.org 님께 보내신 메일 <Re: [supertux] Addon campaign "Tux Strikes Back" needs an overhaul (#84)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-06-10 11:52] Savsish opened #86 "Rename 0.3.5a to 0.3.6"
If they are following SemVer then the 0.3.5a release can be just renamed to 0.3.6

[2015-06-10 11:52] Dynamicwork commented on #86
Works Mobile - http://www.worksmobile.com
--------------------------------------------

dynamicwork@dynamicwork.org 님께 보내신 메일 <[supertux] Rename 0.3.5a to 0.3.6 (#86)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-06-10 13:13] tobbi commented on #86
See #85. Not going to change the version number of an already released version.

[2015-06-10 13:13] #86 closed

[2015-06-11 19:39] tobbi opened #87 "Wrong screen might show after end sequence"
Sometimes, we go back too far, as in: After the end sequence, the main screen shows instead of the worldmap / levelset screen.

I believe the cause is a race condition between https://github.com/SuperTux/supertux/blob/ee1d48f973ac254a339225eaae8ce2ae5985f4c8/src/supertux/game_session.cpp#L548 and https://github.com/SuperTux/supertux/blob/ee1d48f973ac254a339225eaae8ce2ae5985f4c8/src/supertux/game_s

[2015-06-11 21:58] Danfun64 commented on #84
Tux Strikes Back needs to be remade from scratch. The level editor finds the TSB levels too old.

[2015-06-13 21:32] Danfun64 commented on #84
I updated the description. The problem is worse than i thought.

[2015-06-14 06:58] maxteufel commented on #84
There are scripts to convert milestone 1 to 2 levels (see `tools/levelconverter-0.1.3_0.2.0.*`).

Also, feel free to fix any addons. Addons are addons because well, they're not necessarily supported by the main developers.

[2015-06-14 19:12] Danfun64 commented on #84
Neither script seemed to work.

[2015-06-15 16:08] Savsish opened #90 "Mr Bomb explosion graphic is ugly"
No offense, but the new explosion graphics from Cheeseman looks ugly. I liked the older explosion graphics in the 0.3.3 release better. Please bring back old explosion graphics from 0.3.3

[2015-06-16 19:09] sydneyjd commented on #84
We currently don't have the manpower nor the will to do all those changes. As mt said, they are addons that we don't support. we just make them available to the player.

[2015-06-20 03:26] MrsBokrony opened #92 "Finished level "7" on bottom fork, and my levels were erased."
I finished level 7 if you take the bottom fork in the game and it sent me back to the beginning, but I still had all my coins and my hat but I had to start at the beginning.

[2015-06-20 07:20] maxteufel commented on #92
Can you reproduce this on a clean profile? If so, would it be possible to attach the game to a debugger to see what's going on?

[2015-06-20 22:45] ToufikLevels commented on #49
Hi grumbel , ok i will try to explain you :
When i start the editor 0.3.4 in windows 7 it works normally.
But in windows 8 there is an error.

[2015-06-21 14:50] datahead8888 commented on #14
What source file contains the geometry related code for the slope implementation?  I was curious.

[2015-06-21 19:43] MrsBokrony commented on #92
What do you mean "clean profile"? I'll reinstall and see if i can reproduce it. I'll record what happens.

[2015-06-22 08:49] Savsish opened #93 "Animate some badguy deaths"
For snowballs it could be melting. For forest enimies it could be burning to ash. Crystallo should have shattering glass particles that can hurt Tux.

[2015-06-22 15:24] #93 closed

[2015-06-22 18:36] Flakebi commented on #93
@Savsish could you please stop to close and reopen your issues? If you want to play with a bot, please do it on your own repository, the SuperTux repo is not the right place to do this.
Thanks for your concern.

[2015-06-22 20:24] tobbi commented on #92
Please find your profile folder, which should be called .supertux2 in your home directory (location depends on your operating system). Just move that folder somewhere else, and supertux should create new default settings.

[2015-06-22 21:28] tobbi commented on #14
Okay, so this issue is fixed with the commit above. Again, we have a slight up-and-down movement (barely noticeable). If anyone wants to find the time to fix this properly (and knows what to do), just go ahead and do it.

[2015-06-22 21:28] #14 closed

[2015-06-24 00:45] MrsBokrony commented on #92
I will try that, but the program doesn't save my progress. If i complete level one and close it, it doesn't remember it and keeps defaulting back to the coins I had the first time i had the issue. I will do that though

[2015-06-24 01:08] MrsBokrony commented on #92
So I deleted the profile but exiting the program it deletes my progress, but saves my coins and my hat...

[2015-06-24 13:27] tobbi commented on #92
Did it recreate the profile directory?

[2015-06-24 13:30] tobbi opened #94 "Improve font loading time, don't load font files multiple times"
I checked what fonts are loaded at startup using a debug statement. Result: We're loading each font file multiple times and creating surfaces for each of these. We should probably find a better way to deal with font files...

[2015-06-24 14:37] sydneyjd commented on #94
Yes we should, but its not *completely* neccessary.
What we have works. ;)

[2015-06-24 19:08] giby commented on #94
Yes, especially if translators of some asian languages become active…

[2015-06-24 20:35] MrsBokrony commented on #92
Yes, profile1 was recreated. but my levels go back to locked.

[2015-06-26 20:32] tobbi commented on #92
That's normal when a profile was recreated. Can you try to play levels and see if the status of those levels gets saved?

[2015-06-27 00:04] pazkero opened #95 "Checkpoint Percentage not displayed"
On "Welcome to Antartica" Level, on World 1, it's said that "at least 25 coins" is taken to respawn at the checkpoint upon death, but the precise percentage is not said.
It would be interesting if the percentage was also displayed.

[2015-06-27 00:09] pazkero commented on #72
Based on Supertux 0.3.4 playthough, I may assume that you already played this game before, @jumpball ?

[2015-06-27 11:26] Fahad-Alsaidi opened #97 "Arabic Not Displayed Correctly"
After reading in changelog about adding Arabic font to supertux in this commit:
https://github.com/supertux/supertux/commit/54c3cb298de0e1bfce6d512764e08ccfdf72c22f

I tested the dev version in Ubuntu 14.04. what I found is that arabic letters are not connected together and have wrong order (from left to right). They are useless in current status.

[2015-06-27 11:29] tobbi commented on #97
Ah, thanks for the bug report. So the order of the letters is incorrect, but the orientation is correct, right?

[2015-06-27 11:31] Fahad-Alsaidi commented on #97
the orientation is incorrect also.

[2015-06-27 11:32] tobbi commented on #97
So, basically it needs to be mirrored on the x-axis and the order of the letters reversed?

[2015-06-27 11:46] Fahad-Alsaidi commented on #97
Yes, but I am not sure if the letter will get connected by these step only.
However here is a project you may find it interested
https://github.com/lxnt/ex-sdl-freetype-harfbuzz

[2015-06-27 12:10] tobbi commented on #97
Can you please check out the latest master, and see whether at least the orientation is correct? I will deal with connecting the letters in a separate commit.

[2015-06-27 12:32] Fahad-Alsaidi commented on #97
I didn't install required packages to build it from the master. I have to wait the next daily build for ubuntu to test it.
If you can just take a screenshot and post here, I can tell you whether it is correct or not.

[2015-06-27 12:34] tobbi commented on #97
See http://screencast.com/t/DHZEQAt9

[2015-06-27 12:42] Fahad-Alsaidi commented on #97
actually no thing change !

[2015-06-27 12:48] tobbi commented on #97
Interesting. apparently, the rtl detection code doesn't work... I'll look into it.

[2015-07-06 12:03] fabiangreffrath commented on #80
"buffer" is a void pointer, so de-referencing it is a bad idea. You might want to try
type-punning the *LHS* pointer by e.g.
'''
  *((char *)buffer) = tmp;
'''
Hope that helps,

Fabian

[2015-07-26 16:34] Savsish commented on #75
If there was a version numbered 0.0.6, then why there will be no 0.3.6? and why not then held back Milestone 2 to 0.5.0 for example?

[2015-07-27 13:18] Hume2 commented on #64
Fixed.

[2015-07-27 15:36] tobbi commented on #64
Fixed in commit 6314475. Thanks, Hume!

While I'm at it, one other thing: Please make sure you use 2 spaces for indentation and one spaces before the curly brackets, in accordance to our code style guide. Thanks.

[2015-07-27 15:36] #64 closed

[2015-07-27 23:04] tobbi commented on #84
Cross-referencing the forum thread here: http://forum.freegamedev.net/viewtopic.php?f=68&t=6436

[2015-07-28 08:41] #95 closed

[2015-07-28 08:43] tobbi commented on #92
Hey @MrsBokrony Any updates on your issue?

[2015-07-29 11:21] Savsish commented on #95
Uhhh... This will require updating all the translations...

[2015-07-29 11:51] tobbi commented on #95
yup, but it's not that important and our translator community is more than willing to do so.

[2015-07-29 16:04] Savsish commented on #76
If there was a version numbered 0.0.6, then why there will be no 0.3.6? and why not then held back Milestone 2 to 0.5.0 for example?

[2015-07-29 22:40] tobbi commented on #83
I notified the author of "Yeti's Revenge" about this issue. Not sure if he's willing to work on it, but let's see...

[2015-08-01 01:10] meritasix opened #104 "Request: note that cloning needs the recursive flag (--recursive)"
In order to build from a clone of the git repository you need to have cloned both tinygettext and another subrepository that I didn't catch while cloning. Otherwise "make" fails with missing files.

Can the recursive clone tag be mentioned somewhere in the readme or install as it is neccessary for compilation?

[2015-08-01 07:02] maxteufel commented on #104
See db1dc90fd.

[2015-08-01 07:02] #104 closed

[2015-08-01 11:25] Savsish opened #105 "Add difficulty settings for Milestone 2 (0.4.0)"
Please add difficulty settings for Milestone 2 (0.4.0) so that all players could enjoy supertux, as some of the levels are really frustrating, e.g. on easy there would be more checkpoints, while on hard there would be more badguys.

[2015-08-01 11:27] tobbi commented on #83
What about creating a stop button with a message box that says "Press only if you have problems with rapidly switching colours" ?

[2015-08-01 16:07] Danfun64 commented on #83
"and infinite 1-up sounds"

[2015-08-01 16:09] Danfun64 commented on #105
That would require a major revision to every level, including addons. I don't think adding difficulty settings is practical, at least for Milestone 2. Maybe afterwards...

[2015-08-02 19:18] Savsish commented on #105
I have some ideas:
Yeti:
Easy: 3 hitpoints
Medium: 5 hitpoints
Hard: 9 hitpoints

[2015-08-02 21:20] #105 closed

[2015-08-02 21:34] sydneyjd commented on #105
First of all... we don't have the manpower to implement something like this.
Second: We don't want to introduce so many possible bugs  so close to a stable release, mainly because we have no way to fix them because of the lack of devs.
Third: it would be impractical to introduce this into M2.

-Sydney

[2015-08-10 02:27] Ronnie101 opened #106 "Mattie's World Add-on Not opening"
Every time I try to open the Mattie's World Add-on, it takes me back to the start screen, Im not sure what the issue is, I just wanted to play the levels

[2015-08-10 09:04] tobbi commented on #106
Do you have anything useful in the game console? Or in the Terminal you start SuperTux from?

[2015-08-10 16:01] Ronnie101 commented on #106
I use supertux on my laptop, but even after I tried everything I could to fix it, I ended up having to uninstall the entire game and restart

[2015-08-10 16:23] tobbi commented on #106
Does it work now after you did that?

[2015-08-10 17:00] Ronnie101 commented on #106
Yea it did, I just dont want other people to have to uninstall everything and have to restart

[2015-08-10 17:27] tobbi commented on #106
Unfortunately, it's now quite difficult to find out what went wrong. So, if you have the same issue again, please notify us here, and reopen the bug report.

[2015-08-10 17:27] #106 closed

[2015-08-13 23:27] tobbi commented on #83
Problem is that these serve a function in the level. The frequency of the flickers indicate certain places...

[2015-08-14 18:51] maceleiro opened #107 "The Silent Walls level doesn't work"
It is impossible to overcome the level, is the last level of the castle in the forest world

[2015-08-14 18:52] maceleiro commented on #107
Sorry :)

[2015-08-14 18:53] tobbi commented on #107
At which point do you have problems with this level?

[2015-08-14 18:55] maceleiro opened #108 "New home screen - Menu layout"
It would be nice to make a new start screen, like the SuperTuxKart application. Furthermore, it would have to remove the buttons Start game and Levels provided, and merge them in the button Play. By pressing this button, show all worlds. Thanks!

[2015-08-14 18:56] maceleiro opened #109 "Graphical issue"
In the general world, there is a small problem (not very important) in the graphics:
![Uploading graficsupertuxc.PNG…]()

[2015-08-14 19:11] Mathnerd314 commented on #107
I just beat this level (twice), so it is not impossible at all.

[2015-08-14 19:12] maceleiro commented on #109
Sorry, I can not attach the capture, now I go on Dropbox

[2015-08-14 19:48] maceleiro commented on #107
@tobbi Some woods will not let me go: http://youtu.be/8NoJq54MEyo

And another question that has nothing to do: you can hide out the terminal in Windows in parallel with the game?

[2015-08-14 19:51] tobbi commented on #107
There's a way to do that, but should I spoil it? :smile:
Anyway, you notice that only one of the barriers can be open at a time, right? That should possibly give you some ideas what to do?
I have no idea whether it's possible to hide the terminal window.

[2015-08-14 20:54] maceleiro commented on #107
Honestly, I've spent enough time researching ... Could you tell? :pray:

It would be nice to disable the terminal. It would be another improvement for the new version. :smile:

And please, add the game in the Windows Store (Windows 8, 8.1 and 10): https://dev.windows.com/en-us/ Thanks!

[2015-08-14 20:59] maceleiro commented on #107
I do not ask me how, but I completed the level. :open_mouth:

[2015-08-14 20:59] tobbi commented on #107
:D Good. That means you don't need me to screencast a solution :)

[2015-08-14 21:01] sydneyjd commented on #107
LOL, Congrats @maceleiro.

[2015-08-14 21:07] marc280492 opened #110 "Issue After Installing Add-on"
After installing a world map, the home screen is me becomes:
![captura1](https://cloud.githubusercontent.com/assets/11487343/9284050/e015e2fc-42d8-11e5-885f-1ee2e645ba07.PNG)

[2015-08-14 21:07] maceleiro commented on #107
Thanks @sydneyjd :smile: @tobbi Me I can after that, I am a professional of Supertux? :smile:

@tobbi Bug in add-ons: https://github.com/SuperTux/supertux/issues/110

[2015-08-14 21:11] tobbi commented on #110
Which world map did you install?

[2015-08-14 21:11] maceleiro commented on #110
@tobbi Yeti's revenge

[2015-08-14 21:29] tobbi commented on #110
Please chat with us at http://supertux.github.io/contact.html and let's see if we can resolve the problem.

[2015-08-14 21:43] maceleiro commented on #109
![graficsupertuxc](https://cloud.githubusercontent.com/assets/11487343/9284671/0842c8f8-42de-11e5-9e13-a6a31827421f.PNG)

[2015-08-14 21:44] maceleiro commented on #109
It is on the top right.

[2015-08-16 13:09] maceleiro commented on #110
@tobbi This problem happens after I get off any world map

[2015-08-16 13:10] maceleiro commented on #108
@tobbi Any news?

The current display is quite ugly.

[2015-08-16 13:39] tobbi commented on #108
We're debating it internally, I guess. I *could* possibly do something about this, but I have no idea whether it'd look good or not. Plus, you still should be able to watch the Tux animation in the background. If you can code something together to showcase, we can decide whether it looks good or not.

[2015-08-16 13:57] maceleiro opened #111 "Problem on the bonus level (general world)"
At this level, when you kill twice after passing through a checkpoint, you will restart the level (you return to the beginning). They should have more opportunities. Thanks!

[2015-08-16 14:15] #111 closed

[2015-08-16 14:15] sydneyjd commented on #111
That is part of the game, so we are not going to change it.

[2015-08-16 14:16] maceleiro commented on #111
OK :smile: I thought it was a problem

[2015-08-16 14:19] sydneyjd commented on #111
:-)

[2015-08-16 14:27] Hume2 commented on #108
So what you're suggesting is putting the main world into contrib levels and delete the "start game" button. Am I right? And how will the people recognize which world is main?

[2015-08-16 14:32] #107 closed

[2015-08-16 16:48] sydneyjd commented on #109
@maceleiro Thanks for pointing this issue out. We are working on fixing it currently. Thanks!

[2015-08-16 16:53] #24 closed

[2015-08-16 16:54] sydneyjd commented on #24
If anyone sees this again, feel free to let us know, otherwise i consider it closed.

[2015-08-16 17:02] Hume2 commented on #84
1: So what you're suggesting is dual SuperTux behaviour. Almost all of the milestone 1 behaviour has been tweaked, so each object needs an alternative behaviour for milestone 1 levels. I think, it's crap.

2: It's the editor issue. An ingame editor upcomming in 0.4.1 will be able to load them, but save only in the new format.

I've already tweaked the bonus islands, but Tobbi hasn't merged those c

[2015-08-16 20:17] tobbi commented on #109
Fixed in 6ffd4d31

[2015-08-16 20:17] #109 closed

[2015-08-16 21:30] maceleiro commented on #110
Any news @tobbi?

[2015-08-16 21:32] maceleiro commented on #110
Installing Levels of wolfs, I have not had the same problem. The main menu has worked for me. But I would very slow animations (including the video leaving background, Tux is very slow)

[2015-08-16 21:44] marc280492 opened #112 "Update the ground blocks in Ghostly World (Forest World)"
The current ground is very ugly:

![screenshot011](https://cloud.githubusercontent.com/assets/11487343/9295509/9657c114-4470-11e5-8dfb-204871dea0fb.png)

Could you please tell if this is the web where to translate SuperTux? https://www.transifex.com/arctic-games/supertux/

Thanks! :smile:

[2015-08-16 21:50] MarcCeleiro opened #113 "Create a tablet mode"
Please create a few buttons to move Tux, specially designed for tablets, similar to Minecraft style

![f0af0d2ca00034768deec20cdb99146e_screen_512x320](https://cloud.githubusercontent.com/assets/11487343/9295545/93380d76-4471-11e5-94ef-d523a357cd53.png)

Also took the opportunity to ask a possible version for Android devices. :+1:

Thanks!

[2015-08-16 21:53] maceleiro commented on #113
And the option to enable or disable this option (in settings page)

[2015-08-16 21:58] sydneyjd commented on #113
We already have an unofficial Android Port on Google Play, and Supertux is build for the desktop/laptop. Interesting idea though. Also we don't have the man-power to do something like this, and alot of phone/tablet GPUs cannot handle it from what i've seen.

[2015-08-16 21:58] sydneyjd commented on #113
And a 70+MB game on a phone/tablet eats alot of space IMHO.

[2015-08-16 22:05] maceleiro commented on #113
Okay, the app for Android is discarded. @sydneyjd

But the buttons is a good idea, since now many tablets contain Windows.

[2015-08-16 22:46] sydneyjd commented on #113
We will consider it. Thanks for the idea. Im being a little hasty with the "close issue" button, sorry.

The android port seems to be thriving. https://play.google.com/store/apps/details?id=org.lethargik.supertux2

[2015-08-17 09:05] maceleiro commented on #113
@sydneyjd  The Android app is very nice, it works pretty well. Although I think it has not put the same code as the game for Windows. Here I send some ideas:

- Remove all animations (if not too slow).
- Remove the bonus levels to save space (let alone the Forest World and Halloween)
- Improve the loading screen (where you load the game)
- Make much larger menus (IMPORTANT)
- Hide buttons to move

[2015-08-17 11:07] fabiangreffrath commented on #80
Correction: You'll also need to dereference the tmp pointer, i.e.:
[code]

[2015-08-17 11:20] tobbi commented on #112
Agreed, we definitely need better blocks for this. We could actually need more tiles for Ghost Forest overall.

That above URL is correct, by the way.

[2015-08-17 11:26] tobbi commented on #80
@fabiangreffrath Can you make these changes, test them, then create a pull request against this repository. Make sure to include the necessary changes inside conditional #if statements so that they are only compiled for the required architectures.

[2015-08-17 11:28] tobbi commented on #113
The "up" button is needed for climbing and entering doors, so it definitely can't be removed.

[2015-08-17 11:42] fabiangreffrath commented on #80
I can only confirm that it compiles fine on a PowerPC with these changes, as I have just checked my patch on a Debian porter box. I have no chance, however, to actually run the game and check if sound is alright on this box.

[2015-08-17 13:11] maceleiro commented on #110
In the mobile format I not have this problem. I think that only happens in certain circumstances. I have a ASUS R510J with Windows 10. Please put the issue label.

[2015-08-17 13:13] maceleiro commented on #113
So better not touch :sweat_smile:

For what serves blue button? To climb stairs?

[2015-08-17 13:15] tobbi commented on #113
I think it's right and left mouse button respectively.

[2015-08-17 13:17] maceleiro opened #115 "Translations bug"
A few months ago I helped in the translation into Catalan, I think I did on this page, but I've seen that neither was part of the translation team, and also the Catalan language has been deleted. Can someone help me out? If this is the translation page, please add the current translations of Catalan and add me as a translator.

https://www.transifex.com/arctic-games/supertux/

And before taking th

[2015-08-17 13:46] sydneyjd commented on #113
The blue button is 'fire'.

[2015-08-17 13:47] maceleiro commented on #113
Okey! Thanks.

[2015-08-17 14:37] giby commented on #115
Oh? here you are, I just sent you a message on Tx ;) with the good link, apply again ;)

[2015-08-17 14:43] giby commented on #50
Tcheck is complete, no need of it. @Hume2 can you proofread it?

[2015-08-17 15:44] maceleiro commented on #115
Thanks @giby!!!

[2015-08-18 13:08] rugk opened #116 "Slow download"
Is it normal that the binary files download with 12-20 KB/s?

[2015-08-18 13:27] sydneyjd commented on #116
@rugk What binary files are you talking about?

[2015-08-18 14:10] rugk commented on #116
the Windows ones. FYI they have just finished. (with ~30 KB/s :snail:)
But it's the same with the others too.

As it seems they get downloaded from Amazon AWS. However I have no idea why those specific downloads are so slow.

[2015-08-18 14:42] tobbi commented on #116
Which binaries are you talking about? The SuperTux installation file? Where did you download them from? Our Github downloads page?

[2015-08-18 17:09] rugk commented on #116
Yes the GitHub page. It was the 64bit setup file.
I have no idea why it was so slow, but well... I wasn't in hurry.

[2015-08-18 17:21] sydneyjd commented on #116
There is nothing we can do about it then, if it was Github's fault.
Github Hosts it.

On 08/18/2015 01:09 PM, rugk wrote:

[2015-08-18 17:21] #116 closed

[2015-08-18 17:37] rugk commented on #116
Yes I know. Just wanted to let you know - in case anyone else experiences this.
(And as the links on your website also just link to the GitHub versions, which are itself hosted on Amazon AWS I had no other choice)

[2015-08-18 17:39] Hume2 commented on #50
Wasn't that already solved????

[2015-08-18 17:41] Hume2 commented on #49
Let's hope that the editor upcomming in 0.4.1 won't have this problem...

[2015-08-18 23:05] MarkkusCraft123 commented on #108
I think this is somewhat of what he means about the play button.
![this](https://cloud.githubusercontent.com/assets/11138048/9345123/8f1477c6-45d3-11e5-8e42-148ee2b0f0ad.png)
I got kind of lazy after the menu thing. :)

[2015-08-19 08:38] maceleiro commented on #108
Exactly! The design that sent @MarkkusCraft123 is perfect! I just want to download levels function directly in the list of add-ons

[2015-08-19 08:55] Hume2 commented on #108
Now it looks like a short crappy menu...
So when I want to play levels in a levelset, I'd have to press enter once more per level. (Annoying)

[2015-08-19 09:37] tobbi commented on #115
Can this be closed?

[2015-08-19 09:44] maceleiro commented on #115
Yes @tobbi, thanks!

[2015-08-19 09:47] #115 closed

[2015-08-19 12:23] #80 closed

[2015-08-19 21:14] tobbi commented on #80
Can anyone please take a look at whether this really works (compilation and the sound itself) and report back here?

[2015-08-20 07:37] fabiangreffrath commented on #80
@Vincent-C If you could apply this patch to the Debian package and upload it, it would compile on all big-endian archs and we would get bug reports if the sounds were messed up.

[2015-08-20 10:13] Vincent-C commented on #80
@tobbi @fabiangreffrath  I can confirm that with the patch, supertux now builds on big-endian ([powerpc build log](https://buildd.debian.org/status/fetch.php?pkg=supertux&arch=powerpc&ver=0.3.5a-2&stamp=1440064967) as an example). No idea whether sound works or not since I don't have a powerpc (or any other big endian arch) system of my own...on the bright side, at least this change has no regress

[2015-08-21 00:01] MarkkusCraft123 commented on #108
It may be a tiny bit longer but it is more organized. I'm sure most people won't mind. How about temporarily implement it and see how it goes, but have an option to go back to the classic menus.

[2015-08-21 03:19] mahboi opened #117 "SuperTux fails to link on Debian Jessie"
On the latest git version, SuperTux fails to link. There are no warnings or errors during the building, but when it tries to link, it gives this kind of error:
````undefined reference to `tinygettext::DictionaryManager::get_dictionary()'````
Also, according to @MarkkusCraft123, it also fails to build on Ubuntu 15.04

EDIT: I also built tinygettext from the source code and installed libtinygettext.

[2015-08-21 07:38] maxteufel commented on #117
I cannot reproduce this on a clean Debian jessie minbase install running in systemd-nspawn. It sounds like you're trying to build supertux and tinygettext separately, which you shouldn't do (unless you're a packager and know how to patch it to make it work).

[2015-08-21 10:56] Hume2 commented on #43
It resembles me playing SuperTux on my old laggy computer.

[2015-08-21 11:18] Hume2 commented on #108
It's only my opinion, so we should wait for the other developers to decide that.

[2015-08-21 12:57] MarkkusCraft123 commented on #117
Yes, this is true on my Ubuntu 15.04 and I used to be able to compile it.

[2015-08-21 12:58] MarkkusCraft123 commented on #108
Yeah, that is probably best.

[2015-08-21 13:00] MarkkusCraft123 commented on #113
The android version on my device cannot properly display levels with lighting.

[2015-08-21 13:02] maxteufel commented on #117
What is true? That you can't compile it or that you're trying to build supertux and tinygettext separately?

[2015-08-21 19:10] tobbi commented on #117
The README clearly states that you need to do git submodule update --init --recursive. Then cmake . and make and everything should work again.

[2015-08-21 20:33] sydneyjd commented on #117
I use Debian Jessie, and with @tobbi's method, i have no issues.

[2015-08-21 23:29] MarkkusCraft123 commented on #117
I did that and I still get the error and more.

CMakeFiles/supertux2.dir/external/tinygettext/src/po_parser.cpp.o:(.data+0x0): multiple definition of `tinygettext::POParser::pedantic'
CMakeFiles/supertux2.dir/src/util/po_parser.cpp.o:(.data+0x0): first defined here
CMakeFiles/supertux2.dir/external/tinygettext/src/po_parser.cpp.o: In function `tinygettext::POParser::parse(std::string const&, std::

[2015-08-21 23:31] MarkkusCraft123 commented on #117
I did that and I still get the error plus more undefined references.
I did make clean, regenerate the make files and that stuff.
undefined reference to `g_log_level'
undefined reference to `log_info_f(char const*, int)'

[2015-08-21 23:38] tobbi commented on #117
Can you check whether it works on a clean checkout of the repository?

[2015-08-21 23:43] mahboi commented on #108
I believe this is what they mean: https://youtu.be/XW_nLfSbBYk (yes, I wrote this myself)

[2015-08-21 23:47] mahboi commented on #117
I can now build it. Thanks @tobbi

[2015-08-22 03:35] mahboi commented on #113
@MarkkusCraft123 Gotta love them Mali OpenGL ES drivers! @maceleiro But I believe the Android port's controls are just an overlay, and you can modify them if you don't like it.

[2015-08-23 01:24] Mathnerd314 commented on #117
Closing since the issue is apparently resolved.

[2015-08-23 01:24] #117 closed

[2015-08-28 17:51] sydneyjd commented on #108
@mahboi Sorry for the late response, but if you would like to polish up that menu then open a pull request, we would love to at least test it out.

Thanks!

Also, @MarkkusCraft123 @maceleiro @Hume2 @tobbi What do you guys think of his video?

[2015-08-28 17:56] Hume2 commented on #108
Firstly, there's the one-extra-enter annoyonce.
Secoundly, the forest world should be available after the icy island is done.

[2015-08-28 18:06] maceleiro commented on #108
I really love the target distribution that appears in the video.

I think the forest level should always be available. I think it have to give more prominence.

[2015-08-28 18:07] sydneyjd commented on #108
I think it should always be available also.

[2015-08-28 18:08] Hume2 commented on #108
The forest world is supposed to be after icy island, so no no. The reason why it's separate now is just that the worldmap transitions isn't done so far.

[2015-08-28 19:17] #87 closed

[2015-08-29 01:40] MarkkusCraft123 commented on #108
I remember that in the earlier versions of Supertux Milestone three. I don't know why it was changed. In my opinion it makes more sense that way.

[2015-08-29 03:36] LMH0013 opened #119 "Localization support for addons"
Although this issue is somewhat already known, I wanted to draw some attention to it and make sure it is not forgotten.  Basically, localization does not work in addons.  Many addons have had translation work done for them, but unfortunately they have never been used since the game does not support them.  Given that there are more levels available as addons than in the regular game and the fact th

[2015-08-29 03:44] LMH0013 opened #120 "Explosion sprites locked to 90 degree intervals"
Something that has been bothering me since we moved over to SDL2 is that the one-time rotation of the sprite for bomb explosions no longer works properly.  Other things continue to handle sprite rotations correctly (rolling egg, spotlight, for example), but the explosions are fixed to 90 degree intervals for some reason.  This kind of defeats the purpose of the rotation (which was to produce a qua

[2015-08-29 09:21] Hume2 commented on #108
There was a reccession in 2010-2013. Someone has told that the forest island is for milestone 3 and therefore must be deleted. They wanted to do bugfixes instead. I hope, the bugfixes will end in 0.4.0 and there will be bigger changes after that.

[2015-08-29 10:11] tobbi commented on #120
The angle seems correct way down till the native SDL / OpenGL function calls. I wonder if this is an issue with SDL itself...

[2015-08-30 12:02] Hume2 commented on #120
That doesn't happen to me. Maybe you only think that because the explosion sprite looks confusing, so you don't know, how it's oriented. Try changing the explosion sprite to another, where it's clear. I changed myself its sprite to bonusblock sprite and it worked correctly.

[2015-08-30 14:15] Hume2 opened #124 "tiles.strf bug"
I've previously installed SuperTux 0.3.4 on my Ubuntu platform and after that I downloaded SuperTux 0.3.5, but didn't installed it, because it wasn't in the Ubuntu resources. When SuperTux wants to load tiles.strf, it loads the 0.3.4 tiles.strf from a super secret mystic resource. Even when I remove tiles.strf from SuperTux 0.3.5, it runs too. I've also tried uninstalling SuperTux 0.3.4 and puttin

[2015-08-30 14:21] tobbi commented on #124
Check the --datadir option. You can set the data dir for yourself.

[2015-08-30 14:23] Hume2 commented on #124
I've never done anything with options, could you tell me exact syntax or at least the command that I've to call?

[2015-08-30 14:24] tobbi commented on #124
./supertux2 --datadir /path/to/directory or check ./supertux2 --help for all the options.

[2015-08-30 14:38] Hume2 commented on #124
./supertux2 doesn't seem to work. It says that it's invalid directory or file.

[2015-08-30 14:39] tobbi commented on #124
You need to cd to the supertux directory first.

[2015-08-30 14:44] Hume2 commented on #124
./supertux2 --datadir data
It launches SuperTux, but everything is black and there's a menu in the center with blank menu items. However, the music is playing well. It seems that everything loads well, except the images.

[2015-08-30 14:47] tobbi opened #125 "Black screen when starting SuperTux with --renderer opengl on Debian-based distros"
SuperTux doesn't work correctly on Debian and debian-based distributions (Ubuntu) when started with the --renderer opengl option.

[2015-08-30 16:04] tobbi commented on #125
Fixed with c362957

[2015-08-30 16:04] #125 closed

[2015-08-30 16:12] tobbi commented on #124
The graphics issue has been fixed. Please merge with latest master.

[2015-08-30 17:13] Hume2 commented on #124
SuperTux now displays correctly, but this bug remains. Could you reopen it then?

[2015-09-04 02:54] LMH0013 commented on #120
The sprite is not that confusing, and if the bug is happening it is very apparent.  Just imagine a line of several bombs exploding at the same time- many of the explosions would appear exactly the same since there could be only four orientation possibilities for any given sprite.  However, if you are not seeing it on your machine that does imply that it may be platform-specific.  In fact, I'm some

[2015-09-04 08:49] tobbi commented on #120
I assume you're using the latest versions of all the dependencies?

[2015-09-04 12:40] Karkus476 commented on #72
On linux, if you run make install (and play the game a bit)then run make again then you will be wherever you got to in your previous playthrough, but with no levels completed

[2015-09-06 20:32] Karkus476 opened #127 "Level Intro Should Show Relevant Tux Animation"
When you start any level, the Tux animation "small-walk-right" is shown. It would be nice if this animation could be replaced with the walk right animation for the current bonus that Tux has. For example, if you start the level as Fire Tux, the "fire-walk-right" animation should display.
-Karkus

[2015-09-07 08:41] Karkus476 commented on #127
For clarification, I am talking about the level intro (where the level creator and best statistics are shown).

[2015-09-07 08:43] Karkus476 commented on #83
Is this solved?

[2015-09-07 09:33] Karkus476 commented on #127
I've made a fix for this on my fork, how should I go about submitting my changes?

[2015-09-07 09:53] maxteufel commented on #127
[Open a pull request.](https://help.github.com/articles/using-pull-requests/)

[2015-09-07 11:34] Karkus476 opened #129 "Problems With Slippery Terrain"
I have found a few issues concerning the icy/slippery terrain (e.g. at the very start of Arctic Ruins):
1. Tux's legs move as if walking even when you aren't pressing any buttons (As a result of his movement)
2. You cannot jump properly off the icy terrain
3. If you run onto the ice then jump off into another (not icy) platform, then the ice effect persists

Some of them may not be bugs but I just

[2015-09-07 12:52] tobbi opened #130 "Discussion: Use SDL_ttf for font rendering"
I *think* it might be more efficient, and we can ditch a lot of code in the process if we were to ditch our own font rendering code for SDL_ttf.

I think this would require a rewrite of our rendering code and converting the font files to ttf.

[2015-09-07 15:36] #127 closed

[2015-09-07 18:36] Danfun64 commented on #83
If that's the case, the whole section of the level should be replaced!

[2015-09-07 18:45] tobbi commented on #83
Actually, we could reduce the speed of the flickering...

[2015-09-07 20:11] Karkus476 commented on #43
I think it is startling at times too. It would be nice if it were something less sudden.

[2015-09-07 22:01] tobbi opened #134 "Allow level authors to define behaviour for custom game objects"
It would be great if level authors could for example say: "This object behaves like a bonus block" and gets rendered properly with all the animations in place or something similar.

[2015-09-08 11:01] Karkus476 commented on #134
As a feature of the editor?

[2015-09-08 11:04] Karkus476 commented on #124
--datadir <directory> specifies the location of the data. Is supertux/data the correct directory?

[2015-09-08 11:05] tobbi commented on #134
This needs to be implemented in both the editor and the game itself. However, the editor is lower priority because level authors can edit their level by hand to do the required settings.

[2015-09-08 11:14] Karkus476 commented on #110
It's difficult to know what to do unless this is reproducible. I haven't had this problem, but if you think this is something that needs fixing at this end, you need a set of instructions for us to get the same bug.

[2015-09-08 11:18] Karkus476 commented on #108
This is the menu @mahboi created SuperTux/supertux/pull#121

[2015-09-08 11:58] Karkus476 commented on #130
May it fix https://github.com/SuperTux/supertux/issues/97
?

[2015-09-08 11:59] tobbi commented on #130
It might. It might fix #94 as well.

[2015-09-08 12:00] tobbi commented on #130
Karkus476: If you want to be helpful, you may try to get fontforge to load and create ttf files out of the data/engine/fonts directory... I couldn't get it to run on my Mac.

[2015-09-08 12:01] Karkus476 commented on #130
Yeah, that makes it sound like a pretty good idea. If it's done we need to *update the website* so people know to get that as a dependancy

[2015-09-08 12:02] tobbi commented on #130
Yes, but that will be done afterwards. After you created the ttf fonts, I can try to play around with SDL_ttf in order to get things going. I'm not sure how much of a trouble this is.

[2015-09-08 12:04] Karkus476 commented on #130
Okay, I'll see if I can create the font files

[2015-09-08 12:17] Karkus476 commented on #130
[Font forge](http://fontforge.github.io/en-US/) can't open the .png or the .stf files.

[2015-09-08 12:31] maxteufel commented on #130
Well, TTF and all other common font file types (OTF, WOFF) use [vector graphics](https://en.wikipedia.org/wiki/Vector_graphics) to ensure the font looks good even when using a very big size.

These files are used by SuperTux's custom font rendering system (and are afaik not used by any other software).

This means one would have to re-draw the letters as vector graphics (or use other open-source f

[2015-09-08 12:32] Karkus476 commented on #130
Yeah I thought TTF might use vector graphics

[2015-09-08 12:34] tobbi commented on #130
You can find the glyphs in PNG format here:
data/images/engine/fonts/

[2015-09-08 12:37] Karkus476 commented on #130
You can't convert png to ttf!

[2015-09-08 12:38] tobbi commented on #130
I was hoping that FontForge would be able to open the glyphs, vector-trace them and then create a ttf out of this.

[2015-09-08 12:40] maxteufel commented on #130
You could use Inkscape to [trace the PNGs](https://inkscape.org/en/doc/tracing/tutorial-tracing.html) and then try to import it in FontForge.

[2015-09-08 12:42] Karkus476 commented on #130
tobbi: Not in fontforge

[2015-09-08 13:24] Karkus476 commented on #130
Well I've traced the png but font forge is stubborn and wont let me import it. It's not as simple as just tracing the bitmap, all the letters need to be in the correct format.

[2015-09-08 13:30] maxteufel commented on #130
Already looked at <http://designwithfontforge.com/en-US/Importing_Glyphs_from_Other_Programs.html>

[2015-09-08 14:57] Karkus476 commented on #130
I can't do it, someone else can try, or we could use a placement ttf font for testing purposes until we can create/convert a proper one.

[2015-09-08 15:17] Karkus476 commented on #130
@maxteufel You seem to know what you're doing, could you try to do it?

[2015-09-08 16:55] giby commented on #130
I'll do that at some point.... please keep the original font... ST respects the work of earlier dev...

[2015-09-08 22:16] Mathnerd314 commented on #130
@Grumbel Is the console font (andale10.png, andale12.png, console2.png) [Andale Mono](https://en.wikipedia.org/wiki/Andale_Mono)? We're probably not allowed to distribute it if that's the case...

[2015-09-09 03:28] mahboi commented on #134
@tobbi Do you mean as in setting an object's sprite and type separately? Or defining custom behaviour?

[2015-09-09 06:43] Karkus476 opened #139 "Problems With Pause Menu"
When Abort Level is pressed, for a single frame tux can be seen behind the menu in the level wearing the previous bonus.
How to reproduce:
- Start a level as fire tux
- Run forward and get hurt
- Run back to the start (So that you can see tux)
- Pause
- Click Abort Level while watching tux
- See him change back to fire tux before the level quits

Also if you pause and unpause, tux's jump animation

[2015-09-09 14:07] Grumbel commented on #130
@Mathnerd314 Yes, that's Andale Mono, font copyright however allows that kind of stuff (kind of, maybe). We can replace that with Inconsolata or any of the other free monospace fonts around.

As for the SuperTux font, I would keep that bitmap, it looks nice and works as is. With TTF colors, outlines, shadows and stuff get a lot more complicated and you no longer can do font animations.

[2015-09-09 19:40] tobbi opened #141 "Phase out squirrel into its own submodule under supertux"
I think it'd be great to have this in a separate repository. This way it can be updated easily.

[2015-09-11 20:20] tobbi commented on #141
@Grumbel Since you moved tinygettext into a submodule: What do you think about this? In my opinion, since squirrel is not technically "our" code, having it in a different repository might make sense. Besides, in my opinion, it's easier to update.

[2015-09-12 02:57] MarkkusCraft123 commented on #117
Just a little update. I recently had to get Fedora on my computer and it all works properly.

[2015-09-12 08:45] Flakebi commented on #130
supertuxkart/stk-code#2311 is maybe interesting here too. It would be interesting to know the performance impact, although it would differ for st, it can give some hints.

[2015-09-12 16:11] tobbi commented on #134
Assuming I wanted to create a custom bonus block, I could say: Take this sprite and let it behave like a bonus block. Something like that. I haven't thought this through any further.

[2015-09-12 16:26] Mathnerd314 commented on #134
Something like this is already possible, you can do (sprite "blahblah/mysprite.sprite") and it will use your custom sprite. This is used to make krosh: https://raw.githubusercontent.com/SuperTux/supertux/ee1d48f973ac254a339225eaae8ce2ae5985f4c8/data/levels/bonus3/-89-2_degrees.stl

And it is supported in the editor, see the SpriteFile property: https://github.com/SuperTux/supertux-editor/blob/0c66

[2015-09-12 16:26] #134 closed

[2015-09-13 13:33] 165your4 opened #142 "Mr. Candle - a badguy suggestion"
[Details](http://pastebin.com/8nAYact4) (I can't be bothered to write them up here)

I think it'd be cool for puzzles.

[2015-09-13 13:36] 165your4 commented on #142
I've made graphics and a .sprite file for it, but GitHub won't let me attach .zip files.

[2015-09-13 13:43] Karkus476 opened #143 "Be able to throw Mr Bomb"
At the moment you can only drop Mr Bomb. I think it would be better if you could throw him, as dropping a bomb is useless as it just blows you up.

[2015-09-13 14:02] giby commented on #142
Hi :) nice you propose new badguys and graphism... I cannot see it yet... but if you want to work on graphism, please look at this http://supertux.lethargik.org/wiki/Worlds

[2015-09-14 00:06] tobbi commented on #142
Relevant forum post with files: http://forum.freegamedev.net/viewtopic.php?f=68&t=6552&sid=cc974c7d27c2d7ca54e3580ab9d17b2e

[2015-09-14 16:42] Karkus476 commented on #143
Interestingly, in the code this is intentionally disabled. See bomb.cpp Bomb::ungrab():
"// portable objects are usually pushed away from Tux when dropped, but we
  // don't want that, so we set the position
  //FIXME: why don't we want that? shouldn't behavior be consistent?"
Do we want it or not.
Note: commenting out the line below has next to no effect.

[2015-09-15 14:31] tobbi commented on #119
The main problem with this is that we can only have __one__ dictionary in tinygettext, and that is our main .po file for each language with the main supertux strings. We could, however, try to add the relevant items of each .po file in the add-ons to the dictionary...or create an add-on dictionary, I don't know yet what would be best.

[2015-09-18 01:36] sydneyjd commented on #113
@tobbi If i dog up the buttons can you code this for us?

[2015-09-18 22:40] tobbi commented on #110
I have actually never experienced this problem. No idea what might be causing this or whether it's something we can fix.

[2015-09-20 12:03] Hume2 opened #146 "Wrong tile colours"
Exit poles display white-and-yellow instead of black-and-white, except the top tiles.
Hanging vines display with a black background.

However, when I open these tiles in graphical editor, they display normally.

It began when Tobbi compressed the images.

[2015-09-20 12:05] tobbi commented on #146
@165your4: This was your problem as well, wasn't it?

[2015-09-20 14:03] Savsish opened #148 "Add sound for Jumpy"
Hume2 has added sound for Jumpy, but the commit disappeared for unknown reason. Someone who is good at making sounds, please add a nicer sound for Jumpy and provide me with a code on how to add sound for Jumpy.

[2015-09-20 15:36] NNemesis commented on #146
Looking at the PNG files for the affected tiles, it seems that they all have something in common: a tRNS chunk which specifies a specific colour as transparency (in most cases, fully black).

Looking at the goal tiles in particular, the glitched ones have just greyscale information, with a transparency colour set as 0 (fully black), where the tops of the goal have greyscale+alpha information for e

[2015-09-20 16:34] NNemesis commented on #146
While looking at this more, I managed to give one of the images for the goal a proper alpha channel, and the bug was still there. Even after replacing that image with one from before Tobbi compressed the images, the bug was still there.

This means that the bug is most likely not caused by the image files but something else.

[2015-09-20 19:14] brmbrmcar opened #150 "Addons showing unintended behaviour."
Namely Fiona's World.

[2015-09-20 19:24] tobbi commented on #150
Please be more specific.

[2015-09-20 19:38] NNemesis commented on #146
Okay so after more experimentation I found that, for some reason, I couldn't get SuperTux to use my modified images. Whenever I changed the image for a tile, it would still use the old one.

However, I did once manage to get the hanging vines image replaced with one which I edited, and that fixed the black background issue, which means the problem might still be to do with the transparency.

If an

[2015-09-20 19:41] brmbrmcar commented on #150
I will try to take a screenshot. There are loops in  switches. Colour doesn't change when meant to.

[2015-09-20 19:50] brmbrmcar commented on #72
Same on 0.4.0.

[2015-09-21 01:42] sydneyjd commented on #72
Please clear your Supertux config file. Its usually .supertux2 or something similar.

brmbrmcar <notifications@github.com> wrote:

[2015-09-21 05:03] Hume2 commented on #146
Try to delete the images. Maybe you have something like tiles.strf bug too.

[2015-09-21 07:54] tobbi commented on #72
We should find a way to prevent that from happening. Not sure how to do it, though.

[2015-09-21 08:57] tobbi commented on #141
I have done this now. If there are any adverse effects, it can always be undone.

[2015-09-21 08:57] #141 closed

[2015-09-21 15:12] brmbrmcar commented on #143
It would be good to be able to throw the bomb. However, it could annoy users who are used to the old dropping method.

[2015-09-21 15:15] brmbrmcar commented on #142
It looks pretty good. I think it would need to be made and tested first though, to see how well it would work.

[2015-09-21 15:17] brmbrmcar commented on #108
Looks good, but I personally prefer the implemented version.

[2015-09-21 15:38] Hume2 commented on #143
Is there anyone who used carrying bombs frequently?
No, because of this thing.

[2015-09-21 15:38] brmbrmcar commented on #143
I don't do it either.

[2015-09-21 15:41] brmbrmcar commented on #84
Tux Strikes Back doesn't even work  in 0.1.3.

[2015-09-21 15:42] tobbi commented on #84
We don't care about 0.1.3 any longer. 0.4.0 will be released this year, and will be a new stable version. TSB has been updated in the add-on repository. I think we can close this, for this reason.

[2015-09-21 15:42] #84 closed

[2015-09-21 15:54] tobbi commented on #146
Screenshot: http://imgur.com/P1iHzxc

[2015-09-21 16:15] sydneyjd commented on #143
I would carry bombs more if i could throw them. i always get killed.

[2015-09-21 16:35] brmbrmcar commented on #143
Cheeseman is a modification with interesting bomb-carrying behaviours.

[2015-09-21 16:57] brmbrmcar commented on #49
0.4.1? That won't be released for ages!

[2015-09-21 17:13] Hume2 commented on #49
0.4.0 should be released in december 2015. The editor should be finished since then, but the 0.4.0 won't contain it. SuperTux should contain that editor right after the 0.4.0 will be released.

[2015-09-21 17:16] tobbi commented on #49
I have decided to postpone the editor until after 0.4.0. 0.4.0 is a stable release and I'd rather only have tested code in it.

[2015-09-21 17:25] brmbrmcar opened #151 "Level going back to start screen"
Sometimes, after finishing a contributed level, instead of going onto the worldmap it goes to the start screen.

[2015-09-21 17:28] tobbi commented on #151
Which version of SuperTux are you using?

[2015-09-21 17:29] brmbrmcar commented on #49
Thanks for clearing that up.

[2015-09-21 17:30] brmbrmcar commented on #151
0.4.0, but it was last updated 9 weeks ago.

[2015-09-21 17:33] tobbi commented on #151
Please see https://github.com/SuperTux/supertux/issues/87

I believe, I have fixed that with the referenced revision.

[2015-09-21 17:33] #151 closed

[2015-09-21 17:34] brmbrmcar commented on #151
Have that exact problem; sorry for bringing it up.

[2015-09-21 17:35] tobbi commented on #151
No problem, please try to compile the latest git revision, and test it yourself.

[2015-09-21 20:47] Karkus476 commented on #142
idea tag? feature tag?

[2015-09-21 21:12] Karkus476 commented on #129
Note to self:
See Player::apply_friction()
https://github.com/SuperTux/supertux/blob/master/src/object/player.cpp#L512
more specifically Line 518

[2015-09-21 21:19] tobbi commented on #129
I'm pretty reluctant to change these game mechanics, mainly because many levels depend on the slippery terrain to work exactly as described.

[2015-09-22 12:10] Savsish opened #153 "SuperTux Milestone 2 release date"
SuperTux Milestone 2 will be officially released in December 20, 2015

[2015-09-22 12:14] sydneyjd commented on #153
This is not an issue, And no it won't. ;) The date is for the Dev team to know and you to not. Thats the fun of it.

[2015-09-22 12:14] #153 closed

[2015-09-22 14:56] brmbrmcar commented on #153
The Supertux Dev team know little more than we do about the release date. It is planned. It may be changed if not stable enough by December.

[2015-09-22 15:32] NNemesis commented on #146
I fixed the issue with the tile images not changing, it was to do with how I installed SuperTux.

Anyway, once I got the tiles working, I managed to modify each of the affected tiles to include one very transparent pixel, forcing GIMP to export it with a proper alpha channel.

It worked, the transparent backgrounds were back for the vines, and the goal tiles were the right colour.

Do I push the u

[2015-09-22 16:39] brmbrmcar commented on #139
I think it's intended behaviour. Abort Level goes back to what you started with, as if you had never clicked on that level.

[2015-09-22 16:45] brmbrmcar commented on #90
I disagree.

[2015-09-22 16:56] Karkus476 commented on #129
I cant disagree with that.

[2015-09-22 16:56] #129 closed

[2015-09-22 17:00] sydneyjd commented on #139
Can this be recreated?

[2015-09-22 17:26] Karkus476 commented on #139
While the level aborts tux returns to what you started with and you can see it happen in the level behind the menu. It's nothing big, just a timing problem with the Screen fading.

[2015-09-22 18:26] 165your4 commented on #90
Yeah. The new one looks too "real" for Tux.

[2015-09-22 18:42] Hume2 commented on #90
This is not Cheeseman forum.
This is not Cheeseman forum.

If you meant the explosion is SuperTux 0.3.4, then please don't bypass the problem over a branching game and say directly thet it's a bug of SuperTux 0.3.4.

[2015-09-22 20:32] tobbi commented on #146
Yeah, please push them as a fix. I still think we need to investigate the root cause which might lie somewhere in SDL2.

[2015-09-23 01:03] sydneyjd commented on #108
Ok, we are going to do a vote. Calling @tobbi @brmbrmcar @Karkus476 @Savsish @Hume2 @mahboi @Mathnerd314 @leyyin @MarkkusCraft123 @MatzeB @maxteufel @maceleiro And everyone else.

Vote 1: Use Mahboi's Menu #121 or one like it.
Vote 2: Use the current design.
Vote 3: I don't like either menu.

The voting period starts at the time of this post and ends at 8PM Eastern Daylight Time September the 26th

[2015-09-23 01:06] sydneyjd commented on #108
I vote for Option 1.

[2015-09-23 01:10] tobbi commented on #108
I am somewhat in-between, thus voting for option 3:
1) I think that people will be expecting the menu to be like it was pre-0.4.0.
2) It makes sense to merge the two menus together, because Contrib levels are "Starting a game" as well.

[2015-09-23 02:55] MarkkusCraft123 commented on #108
I vote for option one. It makes more sense like @tobbi said. It is also more organized. As @Hume2 said, "there's the one-extra-enter annoyonce", I'm sure most people won't mind.

[2015-09-23 03:34] mahboi commented on #148
Hmm... I thought the bouncing armored snowball was Jumpy. I do think a bounce sound would be nice, but it would become annoying really quickly if the sound was loud or there were too many Jumpys in one area.

[2015-09-23 03:35] mahboi commented on #108
As the author of #121, I guess that makes me automatically vote for option 1.

[2015-09-23 05:19] Hume2 commented on #108
If the test collesction was removed in 0.4.0, I'd be for option 1, because there will be no levelsets anymore.
So I vode for option 1, but I strongly recommend removing test collection in official releases, because many of those levels are unplayable. However, they could be still in the git repository.

[2015-09-23 06:23] Karkus476 commented on #108
Vote for option 1 from me :) it's more organised and maybe installed addons could appear in the play game menu????

[2015-09-23 12:57] mahboi commented on #108
I agree with @Hume2 that the test levels should be removed for official releases, but I think that's a different issue.

[2015-09-23 12:59] maceleiro commented on #108
Option 1

[2015-09-23 13:30] maxteufel commented on #108
Option 3. I actually think there was the idea of using a scripted level as a menu (see `data/levels/test/menulevel.stl`) which seems like a nice solution to me.

[2015-09-23 14:39] brmbrmcar commented on #108
Option 2.

[2015-09-23 14:40] brmbrmcar commented on #90
They aren't even the same, anyway.

[2015-09-23 14:46] brmbrmcar opened #156 "Frozen sleepy spiky = Frozen normal spkiy"
Not a massive issue, but should hopefully be resolved in the future.

[2015-09-23 16:30] Karkus476 commented on #139
I shall close this for now as I no longer think this can be considered an issue worth spending time fixing.

[2015-09-23 16:30] #139 closed

[2015-09-23 16:35] Hume2 commented on #124
I got what caused this problem. SuperTux loaded the tiles.strf from the halloween addon all the time. I deleted it and it works well.

[2015-09-23 16:38] Karkus476 commented on #108
@maxteufel  I like the idea but it would make the world maps feel out of place.

[2015-09-23 16:40] Hume2 commented on #90
Just please don't post it here because we are not Cheeseman development.
And as brmbrmcar has said, they are different from the SuperTux ones, so basically, it has nothing to do with SuperTux.

[2015-09-23 16:40] #90 closed

[2015-09-23 16:45] Karkus476 commented on #156
I quote the code : "if we get hit while sleeping, wake up :)"

[2015-09-23 16:51] brmbrmcar commented on #156
Ok, I'll close it.

[2015-09-23 17:00] Karkus476 commented on #143
Assign me to this, I'm gonna try to get it done.

[2015-09-23 17:03] Karkus476 commented on #150
...? This is kinda ridiculous. I can't go off and fix 'unintended behaviour'

[2015-09-23 17:06] brmbrmcar commented on #150
In Colour Cave, changes of colour don't always work.

[2015-09-23 17:09] Karkus476 commented on #150
Do you mean it sometimes skips colours? Or sometimes changes to the wrong colour?

[2015-09-23 17:09] sydneyjd commented on #143
@Karkus476 No need to assign anyone, just fix it and open a pull request. We don't have much competion about who fixes stuff around here. :smile:

[2015-09-23 17:11] brmbrmcar commented on #150
It doesn't change at all.

[2015-09-23 17:13] Karkus476 commented on #143
Can I change this issue to include frozen enemies? They could slide along the ground...

[2015-09-23 18:05] Karkus476 opened #158 "Wiki Pull Request: TODO page changes"
If only GitHub would add wiki pull requests...
Link(to the only page I've changed): https://github.com/Karkus476/supertux/wiki/TODO

[2015-09-23 22:09] pazkero commented on #108
It's nice, but the 'campaign' idea however, well... You basically separated in two main games. :/
They don't look a single game, they look various games in different worldmaps.
The image is better in organization, although it doesn't need the selection between Forest World and Antartica... yet, at least. For sake of simplicity, I prefer the image one, without the 3rd layer menu for main game. If y

[2015-09-24 01:22] mahboi commented on #108
@pazkero By 'campaign', do you mean in the video? I've changed it, as seen in the screenshots for #121. I agree that 'campaign' wasn't a good word to use but I was lacking a better term so I used the first one I thought of. I probably should have polished up the menu before releasing a video, and seeing that it might cause confusion I'm going to label it as such for anybody reading this.

[2015-09-24 14:40] brmbrmcar commented on #120
I quite like them at 90 degree intervals. A completely random angle would look strange.

[2015-09-24 14:49] tobbi commented on #120
@brmbrmcar So, you can reproduce the issue? Because I can't.

[2015-09-24 14:51] brmbrmcar commented on #120
Yes. Shall I take a screenshot?

[2015-09-24 14:51] tobbi commented on #120
Yes, please. Also, is this the SDL or OpenGL renderer?

[2015-09-24 14:56] brmbrmcar commented on #120
I'm not sure about the renderer. Here is the screenshot (sorry about them being pushed together).
![screenshot from 2015-09-24 15 55 18](https://cloud.githubusercontent.com/assets/14400196/10076728/d702f45e-62d4-11e5-884f-a17e2cb34208.png)

[2015-09-24 15:07] brmbrmcar opened #160 "New startup icon"
The current one hasn't really been updated for a long time. It looks kinda old. And also, Tux is big before he has to go out saving Penny. Here is a potential updated version:
![supertux-256x256](https://cloud.githubusercontent.com/assets/14400196/10076997/411cb126-62d6-11e5-9b8b-8e6325d618ec.png)
It would need discussion.

[2015-09-24 15:08] tobbi commented on #120
Can you check whether it's really 90 degree intervals? i.e. by adding a debug statement for the degrees to SuperTux? It might be a rendering issue.

[2015-09-24 15:13] sydneyjd commented on #160
Yes, the logo is old, but its our trademark. Also, we are not going to even consider replacing it unless someone comes up with a new graphic themself.
The way our team is atm, if you want it changed/fixed, you "fix" it yourself and open a pull request.
I’m not meaning to be rude, but that’s the position the we are in now.

[2015-09-24 15:16] sydneyjd commented on #148
Im also against this. If we do this its very easy for supertux to be drowned-out by too many different sounds. So im closing this PR at that.

[2015-09-24 15:16] #148 closed

[2015-09-24 15:20] sydneyjd commented on #143
@Karkus476 I would leave the frozen bombs alone. They should not do what icecubes do. ;)

[2015-09-24 15:21] sydneyjd commented on #143
Also, i cannot assign people who are not in the Supertux organization to a issue.

[2015-09-24 15:59] sydneyjd commented on #143
Merged in #159

[2015-09-24 15:59] #143 closed

[2015-09-24 16:00] tobbi commented on #143
@Karkus476 Next time, you can add "closes ##" to the commit message to automatically close this :)

[2015-09-24 16:00] sydneyjd commented on #72
This is not really an issue, its something that needs to be known about though.

[2015-09-24 16:04] tobbi commented on #72
Ideally, this should be fixed properly.

[2015-09-24 16:18] brmbrmcar commented on #72
Aren't there similar ways of automatically spawning Tux? (Different code). We should try that.

[2015-09-24 16:40] Hume2 commented on #120
Pick a structure on the explosion and observe it how it's still on another place.
@brmbrmcar , at least what I see on your screenshot, it works correctly. I said that it looks confusing.

[2015-09-24 16:47] LMH0013 commented on #120
I have actually checked this earlier. The code does produce random angles. I think you are right that it is the renderer. I will have to check to see if all dependencies are updated, my guess is that they are not. This brings up another issue: in the past it was my understanding that SuperTux required some minimum version of each dependency, in the last year or so, the project has shifted to requi

[2015-09-24 17:54] brmbrmcar commented on #120
Before I reinstalled Ubuntu on my Chromebook, it was at 90 degree angles only. I hadn't changed anything; it was an identical build.

[2015-09-24 17:56] #160 closed

[2015-09-24 17:58] Hume2 commented on #120
It would be fine if you provided a screenshot. As I see, it has already confused brmbrmcar. Let me tell you whether is it real bug or just an illusion.
Anyway, what platform do you use? I use Ubuntu 14.04.

@brmbrmcar When did you take that screenshot? Did you take it when it was buggy or after that bug disappeared?

[2015-09-24 18:00] brmbrmcar commented on #120
Just before I posted it. I was stupid and didn't realise the bug had disappeared. I have Ubuntu 14.04, Unity.

[2015-09-24 18:03] Karkus476 commented on #158
Does anyone object to me adding these changes?

[2015-09-24 18:10] Hume2 commented on #158
Did you changed all pages or only some of them?
If only some of them, then please thell me which, it will be much easier then.

[2015-09-24 18:29] Karkus476 commented on #158
The TODO page is the only page I've changed.

[2015-09-24 19:17] mahboi commented on #150
That's likely a bug in the switch's script, although I'm not very sure. You should contact the add-on author or check yourself. I don't quite know what you're talking about with color changes, as the last time I was playing that add-on it was on an Android tablet with poor OpenGL drivers where lights were broken.

[2015-09-24 19:32] brmbrmcar commented on #150
There is no actual switch to press.

[2015-09-24 19:39] Hume2 commented on #158
It looks well, but I'd be careful about that and I'll wait for other opinions.

[2015-09-24 21:17] Karkus476 commented on #158
Sure.

[2015-09-24 21:17] Karkus476 commented on #150
He is talking about a bug in the code that switched the colours

[2015-09-24 21:20] mahboi commented on #150
Whoops... Well, I'm going to go see what I can find about this issue.

[2015-09-24 21:22] Karkus476 commented on #110
@maceleiro  Try removing the addon and trying again maybe?

[2015-09-24 23:52] pazkero commented on #108
Many thanks.
The screenshots on #121 are fine, and "Story Mode" is actually a very good name for it. Personally I think better to keep Ghost Forest on contrib as "Story: Ghost Forest" while main story is just it and Antarctica.
As I said before, an extra menu for 2 choices can be annoying if the choices are too similar. (ie. parts of the same storyline)

Personally the "Contrib levels" name could

[2015-09-25 13:40] MarkkusCraft123 commented on #108
Nah, you don't need to. This is fine. But please select 1 or 2 or 3.

On Thu, Sep 24, 2015 at 6:52 PM, pazkero <notifications@github.com> wrote:

[2015-09-25 17:12] brmbrmcar opened #162 "Bonus Island 3 secret too big to keep"
The amount of levels in the Bonus Island 3 secret is too large. 1 is OK but a whole worldmap is just unbelievable. People should be able to play that amount of levels without searching for them. Maybe they should just show the path there.

[2015-09-25 18:30] Savsish commented on #108
I vote for 1.

[2015-09-25 19:15] pazkero commented on #108
@MarkkusCraft123 It's somewhere along 1 and 3, as I said.
One like @mahboi did on #121 but with minor text changes, so it's probably a ***1***.

My vote however, is relative to your literalness. :smile:
...But it definitively isn't 2. I liked the idea to change the menu... as most did.
--
Jesusalva

[2015-09-27 19:34] mahboi commented on #150
Well, after playing with it, it seems perfectly fine to me. The colors change as expected.

[2015-09-27 20:06] brmbrmcar commented on #150
Do they do it immediately?

[2015-09-27 20:10] tobbi commented on #97
The problem is that we set check the rtl flag globally, that means: If a non-arabic font is loaded after the arabic one, the flag gets overridden.

I hope you're still there to test any changes I make to fix this problem?

[2015-09-27 22:02] mahboi commented on #150
Yes. Was the change supposed to be gradual?

[2015-09-28 04:32] Fahad-Alsaidi commented on #97
Is there any update regarding this issue?

[2015-09-28 04:40] LMH0013 commented on #150
The color change should occur after a slight delay - the goal was to give enough time for a small child to read the message before the color changed.  If the color is not changing at all, then something bad is going on.  Otherwise, a delay in the color change is intentional.

[2015-09-28 04:46] LMH0013 commented on #146
When images were first compressed a while back I noticed this as well- might have actually been before SDL2.  I had to regenerate the file using a RGB format to fix it.  Apparently I didn't make any noise about it, but whenever we compress image files we'll have to make sure the format doesn't change to avoid the bug.

[2015-09-28 04:58] LMH0013 commented on #120
Since I wrote this particular piece of code, I'm pretty sensitive to how it behaves and don't need to be told what is an illusion.  Again, it is not confusing if you see the bug- the explosion sprite is static (which is probably something else that should be fixed at some point) with defined sub-features that if appear in one of four different spots every time looks awkward.  I'm confident enough

[2015-09-28 07:38] tobbi commented on #97
Yes, the update is that I have "kind of" found the cause. And we are debating switching to a different font because of this. Currently, the font glyphs are inside image files, which is a pain to handle. In order to reverse the order of a string, I tried reversing it using methods from std namespace, which didn't work due to the unicode nature of the text string.

So, I will probably try thinking t

[2015-09-28 07:42] Fahad-Alsaidi commented on #97
ok. let me know if you want help in testing. I know little c++ coding, so I think  I can help.

[2015-09-28 08:00] Hume2 commented on #124
It's all solved. I just had a mess in .supertux2.

[2015-09-28 08:00] #124 closed

[2015-09-28 09:03] Hume2 commented on #50
Yes, it was.

[2015-09-28 09:03] #50 closed

[2015-09-28 09:06] Hume2 commented on #142
@165your4 , you said that you no longer want it. May I close it then?

[2015-09-28 11:01] tobbi commented on #142
Please don't close it. I think it's a good idea, in principle at least.

[2015-09-28 14:44] brmbrmcar commented on #142
Implement it. See how it goes.

[2015-09-28 14:49] sydneyjd commented on #142
I have no spare time to code this. @tobbi could you?
Im also not sure how to implement him properly. Grumbel knows though.

[2015-09-28 14:49] sydneyjd commented on #142
Just so we can see how he looks. ;)

[2015-09-28 14:53] brmbrmcar commented on #142
Yes. Add them to basic levels.

[2015-09-28 15:00] brmbrmcar commented on #150
OK. But what abount the switches?

[2015-09-28 15:43] Karkus476 commented on #142
I personally do not think at the current time this is worth implementing right now. It is definitely a good idea though, and could be considered for the future.

[2015-09-28 16:02] brmbrmcar commented on #142
It will  be difficult. The next few releases will be stable, but this should be tested. Something needs to be done...

[2015-09-28 16:22] Hume2 commented on #142
I'll implement it.

[2015-09-29 16:49] LMH0013 commented on #150
Can you be more specific? I am not sure what you are asking.

[2015-09-29 16:59] brmbrmcar commented on #150
In Castle drawbridge, pressing the switch  once does the intended operation. Flipping it again reverses it Is it intended? It seems easy to accidentally flick it twice.

[2015-09-29 17:02] tobbi commented on #150
From the code, it looks intended.

[2015-09-29 17:57] LMH0013 commented on #150
Indeed, it is intended that the switch works both ways. Just a personal preference that actions are reversible, it satisfies my OCD.
I surmise that it is safe to say that all behavior is intentional and the issue may be closed?

---- On Tue, 29 Sep 2015 07:02:31 -1000 notifications@github.com wrote ---- From the code, it looks intended.
—
Reply to this email directly or view it on GitHub.

[2015-09-29 18:23] brmbrmcar commented on #150
Closed.

[2015-09-29 18:23] #150 closed

[2015-09-29 18:41] Savsish opened #165 "Animations loop if you pause and then unpause game"
Rarely when i pause and then unpause the game, some animations like Tux growing and Mr Bomb exploding loop endlessly.

[2015-09-29 20:22] brmbrmcar commented on #165
Can't reproduce that.

[2015-09-30 10:11] tobbi commented on #165
Are we talking about the sounds?

[2015-09-30 11:01] Savsish commented on #165
I know it's very hard to reproduce but pause the game during the last frame of Tux growing or Mr Bomb exploding and then unpause the game, the animation loops endlessly. This especially problematically with Mr Bomb as it won't explode or the explosion lasts forever until you restart the level.

[2015-09-30 11:59] sydneyjd commented on #165
@Savsish Can you take a video of the game when it does this? Also, can you run supertux with '--debug' and see if it tells you anything about it?

[2015-09-30 12:04] Savsish commented on #165
I have recorded this glitch with Fraps, but unfortunately i don't have the video anymore.

[2015-09-30 14:41] brmbrmcar commented on #165
Oh yes, I've got it now.

[2015-09-30 14:51] sydneyjd commented on #165
Well, can someone *PLEASE* Get a video of it?

[2015-09-30 14:53] brmbrmcar commented on #165
If I can get screencast to work on my Chromebook...

[2015-09-30 14:53] sydneyjd commented on #162
This makes no sense to me.

[2015-09-30 14:54] brmbrmcar commented on #162
I mean that you cannot hide a whole worldmap from people.

[2015-09-30 14:55] brmbrmcar commented on #162
Why is it closed?

[2015-09-30 14:57] sydneyjd commented on #162
I will re-open it, but don't plan on this getting much activity...

[2015-09-30 14:59] sydneyjd commented on #108
Hehe, oops. I forgot to review this post. I will tally the vote and see what we come up with.

[2015-09-30 15:34] Hume2 commented on #162
These levels are there because they are unlicensed. In fact, this is the only way how to force the people to put licence refferences into their levels. Note that the first level is named "Toilete zone" and the last is named "Sever escape". If you know anyone who has a level among these levels, you can contact him to add a license refference and it could be moved.
The other way is manipulating with

[2015-09-30 15:34] #162 closed

[2015-09-30 15:35] brmbrmcar commented on #162
So why isn't it an addon? Because if they do find it...

[2015-09-30 15:39] Hume2 commented on #162
If we had about ~500 levels, we could be picky.

[2015-09-30 15:40] Hume2 commented on #108
Something between 1 and 3 means 3, because anything that is not 1 or 2 is definitely 3.

[2015-09-30 15:45] sydneyjd commented on #108
Ok, the final tally:
Option 1: 6 people
Option 2: 1 person
Option 3: 4 people

So, i guess we will see what we can do.

[2015-09-30 21:06] sydneyjd commented on #146
@NNemesis Did you get Tobbi's message up there?
 Could you make a pull request with the fixed images?

Thanks!!!!!

[2015-09-30 21:07] sydneyjd commented on #43
Is this a wontfix? We could try to fix it if someone could find/make a new kill sound.

[2015-09-30 21:10] sydneyjd commented on #113
Arg, this is getting no interest... I like the idea though.

[2015-09-30 21:18] sydneyjd commented on #110
Something sounds corrupt.
@maceleiro Does it still do this?
If you don't respond in the next week i will just go ahead and close this issue.

[2015-09-30 21:29] sydneyjd commented on #108
Ok, Merged. Thanks everyone!!! And thanks for the code @mahboi!

[2015-09-30 21:29] #108 closed

[2015-10-01 19:31] Hume2 opened #168 "Building issue"
When I try to build the newest build, it throws this error at the end:

external/tinygettext/libtinygettext.so: undefined reference to `libiconv_open'
external/tinygettext/libtinygettext.so: undefined reference to `libiconv_close'
external/tinygettext/libtinygettext.so: undefined reference to `libiconv'
collect2: error: ld returned 1 exit status
make[2]: *** [supertux2] Error 1
make[1]: *** [CMake

[2015-10-01 19:47] tobbi commented on #168
Try git clean -f, remove CMakeFiles/ directory and try again.

[2015-10-01 20:12] brmbrmcar commented on #168
I get this (happened since CMake update):
CMake Error at CMakeLists.txt:217 (message):
  squirrel submodule is not checked out or
  /home/brmbrmcar/supertux-master/external/squirrel/CMakeLists.txt is missing

[2015-10-01 20:13] tobbi commented on #168
brmbrmcar: git submodule update --init --recursive

[2015-10-01 20:38] sydneyjd commented on #168
*Try git clean -f, remove CMakeFiles/ directory and try again.*

Running that fixed it. ;)

[2015-10-01 20:48] brmbrmcar commented on #168
Still not working. I am stupid.

[2015-10-01 21:42] Karkus476 commented on #168
@brmbrmcar did you run ``cmake ..`` in your build directory?

[2015-10-01 23:02] Karkus476 commented on #168
@Hume2 Can you keep us updated? Have any of these suggestions worked?

[2015-10-02 01:40] maths22 commented on #168
@brmbrmcar Does the /home/brmbrmcar/supertux-master/external/squirrel/ directory have any files in it?

[2015-10-02 05:17] Hume2 commented on #168
I've removed everything in the build directory and builded it again.
It still throws this message.

[2015-10-02 06:43] brmbrmcar commented on #168
@maths22 No.

[2015-10-02 11:52] tobbi commented on #168
In that case, please try to checkout the submodule again!

[2015-10-02 13:03] maths22 commented on #168
@Hume2 What platform are you building on?

[2015-10-02 17:27] brmbrmcar commented on #165
It's not going  to work...

[2015-10-03 06:49] maceleiro commented on #110
Even I have the same problem...

[2015-10-03 08:05] tobbi commented on #110
Can you give us a copy of your supertux profile folder?

[2015-10-03 09:41] maceleiro commented on #110
@tobbi Where is this folder...? :smile:

[2015-10-03 09:42] tobbi commented on #110
In .supertux in your home directory, if I recall correctly.

[2015-10-03 09:45] maceleiro commented on #110
Thanks!! https://drive.google.com/file/d/0B6JsEr5ZVJgPZzB1UkJiVTRWWkE/view?usp=sharing

[2015-10-03 11:40] NNemesis commented on #146
Sorry for the delay guys, I pushed the fixed images in this pull request: https://github.com/SuperTux/supertux/pull/169

[2015-10-03 15:07] tobbi opened #172 "Investigate travis build issue of glbinding on clang"
When we try to build glbinding using clang on the travis build machines, there's a compiler error, mainly because, for some reason, it can't find the header files.

Build log:
http://pastebin.com/Uy0uGcUR (sorry for the bad formatting)

building glbinding works fine using GCC.

[2015-10-03 15:09] tobbi commented on #172
travis.yml code:
https://github.com/SuperTux/supertux/blob/master/.travis.yml#L57

[2015-10-03 15:11] tobbi commented on #172
@scheibel Would you know, by any chance, why this yields a build error? You can view the complete log here (not sure for how long, though)
https://s3.amazonaws.com/archive.travis-ci.org/jobs/83451300/log.txt

[2015-10-04 14:30] Hume2 commented on #168
@tobbi still the same message:
external/tinygettext/libtinygettext.so: undefined reference to `libiconv_open'
external/tinygettext/libtinygettext.so: undefined reference to `libiconv_close'
external/tinygettext/libtinygettext.so: undefined reference to `libiconv'
collect2: error: ld returned 1 exit status
make[2]: *** [supertux2] Error 1
make[1]: *** [CMakeFiles/supertux2.dir/all] Error 2
make: **

[2015-10-04 15:47] brmbrmcar opened #173 "Weird bug with Krosh"
When two Kroshes are placed like this, Tux vibrates violently.
![screenshot from 2015-10-04 16 42 04](https://cloud.githubusercontent.com/assets/14400196/10268665/870d65a2-6ab7-11e5-81e4-789e347d6088.png)

[2015-10-04 18:18] Hume2 commented on #168
I reverted the cmke files to their current state and it works.
@tobbi , may I push that change or is there a way to hide these changes?

[2015-10-04 18:20] tobbi commented on #168
Pull request, please. I need to review them, first.

[2015-10-05 06:03] Hume2 commented on #168
It's most likely hardware specific. If is there noone else having this problem, I'll close this.
I reverted myself the cmake files to their original state and I marked them to be not considered as changed via "git update-index --assume-unchanged <file>".

[2015-10-05 23:01] tobbi commented on #146
This has been fixed on master, closing. Thanks NNemesis.

[2015-10-05 23:01] #146 closed

[2015-10-05 23:06] tobbi commented on #110
Unfortunately, I cannot reproduce the issue here. I loaded your configuration files, and it displayed fine for me.

[2015-10-05 23:38] tobbi commented on #168
It's not hardware specific. I was able to reproduce the issue on my machine... Reverting commit a549e12 fixes it.

[2015-10-06 02:31] maths22 commented on #168
I'll produce a pull request tonight that undoes the iconv stuff but keeps
the other changes.
On Oct 5, 2015 6:38 PM, "tobbi" <notifications@github.com> wrote:

[2015-10-06 04:26] Mathnerd314 commented on #168
It's tinygettext that's the problem, not iconv. I think https://github.com/SuperTux/tinygettext/commit/cc7fa9191268c426584bb2fb593e8f115161d65d should fix it; can someone who's getting the error test it? (I don't get it because iconv is in my glibc)

[2015-10-06 06:15] maths22 commented on #168
That is correct.  Also, that is why I do not get the error.  I meant that I
would revert the tinygettext stuff, which really is simply skirting around
the problem.

On Mon, Oct 5, 2015 at 11:26 PM, Mathnerd314 <notifications@github.com>
wrote:

[2015-10-06 06:29] Hume2 commented on #168
Updating tinygettext throws me a strange error:
fatal: reference is not a tree: a34d942073f3e6140aff68fc325bca20f19f9b6f
Unable to checkout 'a34d942073f3e6140aff68fc325bca20f19f9b6f' in submodule path 'external/tinygettext'

So I download it from the git repository manually.

[2015-10-06 06:45] Hume2 commented on #168
@Mathnerd314 still the same error message, but thanks for your time.

[2015-10-06 08:27] tobbi commented on #168
@Hume git submodule sync.

[2015-10-06 08:39] tobbi commented on #168
I tried both cmake -DHAVE_SDL=ON and -DHAVE_SDL=OFF and compilation works with both.

[2015-10-06 17:44] Hume2 commented on #119
I think it already works. When the .po file is in the levelset in the addon, it works at least for me. Try Narreland (cs.po) or Frozen Continent (fr.po).

[2015-10-06 20:21] Hume2 commented on #168
Now it woks for me. Is there anyone who still has this problem? Otherwise I'll close this.

[2015-10-06 20:22] #168 closed

[2015-10-07 17:11] LMH0013 commented on #119
Check to make sure you do not have additional copies of the levels in your data directory. These can give the illusion that it is working properly.

		 ---- On Tue, 06 Oct 2015 07:44:16 -1000  notifications@github.com  wrote ----I think it already works. When the .po file is in the levelset in the addon, it works at least for me. Try Narreland (cs.po) or Frozen Continent (fr.po).
—Reply to this em

[2015-10-07 17:22] Hume2 commented on #119
I had, but after I deleted it, it still worked.

[2015-10-08 17:25] tobbi commented on #113
I could. But let's target this for post 0.4.0. Too much work for a release that is due in 2 months.

[2015-10-08 17:26] Hume2 commented on #113
Isn't Ravu al Hemio working on this?

[2015-10-08 17:30] #158 closed

[2015-10-08 17:30] tobbi commented on #92
No response from reporter in more than 3 months. I am closing this.

[2015-10-08 17:30] #92 closed

[2015-10-08 17:31] Karkus476 commented on #92
I agree. Although still an issue. There is no convincing way to solve this. If you mess with the configs, the configs will mess with you.

[2015-10-08 17:34] tobbi commented on #110
By the way: Do things change if you start it with ./supertux2 --renderer sdl vs ./supertux2 --renderer opengl?

[2015-10-08 17:48] Karkus476 commented on #72
If you reinstall supertux after completing a few levels, this happens. I think.

[2015-10-08 17:52] #76 closed

[2015-10-08 17:52] Karkus476 commented on #76
Not really an issue. Translation will always be needed.

[2015-10-08 17:53] Hume2 commented on #112
I know that I have already failed with it, but I'll try it once again.
Would you be for this? http://supertux.lethargik.org/wiki/File:Ghostwood.png

[2015-10-08 17:55] Karkus476 commented on #112
@Hume2 can you make a pull request (with [ci skip] in the commit message) so I can pull and see what they look like in-game?

[2015-10-08 20:45] Karkus476 opened #175 "Forest World Levels are Badly Named"
The actual files which hold the level data are named things like christoph1.stl so I cannot find out easily what the actual name is. The files should have the same name as the level title. Same goes for Antarctica, although not as much.

[2015-10-08 20:46] Karkus476 commented on #175
Someone needs to go through them 1 by 1

[2015-10-08 20:46] Karkus476 opened #176 "Forest World Levels are Badly Named"
The actual files which hold the level data are named things like christoph1.stl so I cannot find out easily what the actual name is. The files should have the same name as the level title. Same goes for Antarctica, although not as much.

[2015-10-08 20:46] #176 closed

[2015-10-08 20:48] Karkus476 opened #177 "Pipes Need to Work Properly"
Currently they are a mess. Tux's position within needs to be fixed to movement only on X or Y axis (currently his feet often stick out the end). A proper entering animation (however crude or programmed in) needs adding along with (possibly) an entrance sound.

[2015-10-08 20:51] Karkus476 commented on #72
@jumpball @brmbrmcar can you give us any ideas on when and why this might happen? If you messed with the config this is not an issue. If no reply is gotten, or no one else can replicate this, it will be closed.

[2015-10-09 10:21] tobbi commented on #97
We won't make this for 0.4.0, unfortunately. It's only 2 months time and I doubt we (or I) can make it in this time. Thus postponing it till after 0.4.0. Sorry about this.

[2015-10-09 11:10] tobbi opened #178 "Change SuperTux logo from development one to default one"
So that we don't forget it!

[2015-10-09 12:15] sydneyjd commented on #178
Good idea! We see it, but its easy to not notice.

[2015-10-09 12:32] maxteufel commented on #178
I'd suggest using `CMAKE_BUILD_TYPE` for this (as done for test levels).

[2015-10-10 10:56] Karkus476 commented on #177
Currently, the are not implemented at all. This should probably be added.

[2015-10-10 12:20] marc280492 opened #182 "Option to disable program transitions"
On older computers, the transition there when entering a level takes too long to load and goes very slow.

It would also be nice to turn off animations of the menus (pause menu and home).

There could be an option under Settings to disable all transitions.

[2015-10-10 12:30] Karkus476 commented on #182
I'm pretty sure transitions aren't the problem here. The levels just take forever to load.

[2015-10-10 12:32] #112 closed

[2015-10-10 12:34] Hume2 commented on #175
Also note that the level "Three sheets to the wind" should be called "Three leaves to the wind".

[2015-10-10 12:35] tobbi commented on #175
I'd rather keep it that way due to https://en.wiktionary.org/wiki/three_sheets_to_the_wind

[2015-10-10 12:35] Karkus476 opened #183 "Use spritesheets instead of separate files"
This would be a bit of a pain, but textures/sprites that are used a lot/ are not going to be changed could be put into spritesheets. One could be Antarctica Spritesheet, another for forest, another for badguys etc. This would speed up loading times as desired for #182

[2015-10-10 12:43] Hume2 commented on #165
I can't reproduce it.

[2015-10-10 13:18] marc280492 commented on #112
The new design is beautiful! Thanks.

[2015-10-10 14:51] Karkus476 opened #184 "Keyboard Layout Settings Per Profile"
Rather than for all users.
In fact, all settings could be included in this scope.
[This is the config file I am talking about.](http://pastebin.com/5nT7HMDL)

[2015-10-10 16:12] tobbi opened #185 "Rework worldmap for "Rubberducks levels""
The worldmap for the above levelset still needs improving. Currently:
- Paths leading nowhere
- A lot of straight paths
- Not a lot of different tiles.

[2015-10-10 16:17] maxteufel commented on #185
I think in the future issues like this should be reported to the SuperTux/addons repo and levelset/worldmap authors should be @ -mentioned if they're on GitHub (maybe that should be a requirement?).

[2015-10-10 16:20] Karkus476 commented on #185
@maxteufel agreed. To submit to the addons repo they must be able to make an issue/pull request regarding it.

[2015-10-10 16:24] #173 closed

[2015-10-13 19:46] sydneyjd commented on #185
I can do it if everyone is ok with me doing it.

[2015-10-13 20:04] brmbrmcar commented on #185
I like not having to do the level before to get to the next level.

[2015-10-14 16:01] sydneyjd commented on #185
@tobbi You brought this up, what do you think?

[2015-10-14 16:08] tobbi commented on #185
It could at least be more squiggly...

[2015-10-16 03:31] Mathnerd314 commented on #185
From [rubberduck](http://forum.freegamedev.net/viewtopic.php?f=67&t=4582&p=47295#p47295), author, in 2013:

So the worldmap is just a placeholder; it should definitely be replaced if someone is willing to do the work.

Seems he had an account on a GitHub clone: https://notabug.org/rubberduck. I don't think he's https://github.com/rubberduck though, so @-mentioning is not possible.

Also, the level

[2015-10-16 09:48] tobbi commented on #185
I could do the translation work.

[2015-10-16 14:21] #182 closed

[2015-10-16 14:41] tobbi commented on #177
Putting this in post-0.4.0.

[2015-10-16 15:17] brmbrmcar commented on #185
Look at my one in my fork of supertux. See if  it is any good.

[2015-10-16 15:36] #119 closed

[2015-10-16 15:36] tobbi commented on #119
@LMH0013: I just tested this very briefly with the "The Frozen Continent" add-on. And it works there, please check other add-ons as well.

[2015-10-16 15:46] brmbrmcar commented on #175
It would be confusing to change the names. There would likely be a bug as a result.

[2015-10-16 15:48] Karkus476 commented on #175
Confusing? Also bugs are to be expected from most changes, but they will be ironed out.

[2015-10-16 15:53] brmbrmcar commented on #175
Yes, because you'd have to tell everyone first.

[2015-10-16 22:17] Karkus476 commented on #175
@brmbrmcar
You realise I mean the file names? This is a problem throughout the game another possibility is in developer mode the filename could
Be displayed on the intro screen?

[2015-10-17 00:44] tobbi opened #188 "Go through old bugtracker"
The old bugtracker has some old issues that might be of relevance, still.

We should go through the open ones and see what to do with them. Here's a permalink:
http://supertux.lethargik.org/bugs/search.php?project_id=1&status_id[]=10&status_id[]=20&status_id[]=30&status_id[]=40&status_id[]=50&sticky_issues=1&sortby=last_updated&dir=DESC&hide_status_id=-2

[2015-10-17 08:54] brmbrmcar commented on #175
I do realise. We just don't have the time to change it AND fix the bugs right now.
And also, Developer mode should be renamed cheat mode and Cheat Console renamed Developer Console.

[2015-10-17 10:32] maxteufel commented on #175
Where's it called 'Cheat Console'? It's just called 'Console' in the Keyboard setup menu, the CLI and the config file.

Developer mode just enables the 'Cheat menu' (as seen in Keyboard setup), but that doesn't mean it can't enable anything else.

[2015-10-17 10:33] tobbi commented on #175
Developer mode enables "auto-opening the console on warnings and errors" since a very recent revision.

[2015-10-17 11:02] Hume2 commented on #175
I'll do it.
And please, @brmbrmcar , don't say that it you don't understand git well.

[2015-10-17 15:59] brmbrmcar commented on #175
???

[2015-10-17 21:06] 165your4 opened #191 "Autoscrolling doesn't crush Tux against walls anymore"
I was making an autoscrolling level in the editor and noticed that Tux is free to move outside of the camera. It wasn't like this in 0.1.3. This goes against the conventional "rules" of autoscrolling and feels weird. Is it a bug or intentional?

[2015-10-17 21:26] tobbi commented on #191
For reference:
http://supertux.lethargik.org/bugs/view.php?id=475
http://supertux.lethargik.org/bugs/view.php?id=44

[2015-10-18 05:42] Hume2 commented on #191
The problem of autoscroll is that the screen size is variable, so the level difficulty varies by screen size.
I agree with WolfgangB that there should be something that really looks dangerous instead of just being crushed by the camera.

[2015-10-18 05:54] Hume2 commented on #191
Maybe there could be something that would cause the tiles on the left fall, so it would create the same effect.

[2015-10-20 14:50] brmbrmcar opened #193 "Going off a moving platform too early hurts Tux."
It hurts him.

[2015-10-20 14:50] brmbrmcar commented on #193
Do you need a screenshot?

[2015-10-20 15:04] brmbrmcar commented on #193
![screenshot from 2015-10-20 16 04 14](https://cloud.githubusercontent.com/assets/14400196/10611483/3f1dc586-7744-11e5-8833-622d5811514a.png)

[2015-10-20 15:04] brmbrmcar commented on #193
I left down at the blocks.

[2015-10-20 15:05] sydneyjd commented on #193
Thats because you got pinched in-between the platform and the blocks. We cannot help that, its the players fault.

[2015-10-20 15:06] brmbrmcar commented on #193
It happened before  it went up. Bad example.

[2015-10-20 15:06] brmbrmcar commented on #193
I has happened in other levels, but it is really hard to screenshot.

[2015-10-20 15:13] lesouriciergris opened #194 "Level : The Escape ... Impossible to continue to next level"
Hello,

in super tux 2, 0.3.4 (Ubuntu), I beat the yeti man and I'm now in the Escape Level.

I finish this level it but I can't go to the next level. Only the previous levels are available.

Thanks.

[2015-10-20 15:23] brmbrmcar commented on #194
There is currently no level after that. In the future, the forest world will be there.

[2015-10-20 16:19] lesouriciergris commented on #194
Le 20/10/2015 17:23, brmbrmcar a écrit :

Thank you very much.

[2015-10-20 16:34] #194 closed

[2015-10-20 16:36] maxteufel commented on #193
That's what @sydneyjd means.

[2015-10-20 16:37] brmbrmcar commented on #193
It didn't used to happen.

[2015-10-20 16:38] sydneyjd commented on #193
Stand on the middle of the platform when going up. That will solve this.

[2015-10-20 16:44] brmbrmcar commented on #193
I know. That's probably the best that can be done right now.

[2015-10-20 16:48] maxteufel commented on #193
If you believe this didn't happen before, can you try to find the last good commit?

[2015-10-20 16:48] Hume2 commented on #193
When does it happen? The platform goes down and you try to go left past the solid blocks and then you get hurt. Right?

[2015-10-20 16:49] brmbrmcar commented on #193
Yes.

[2015-10-20 16:53] Hume2 commented on #193
Definitely a bug.

[2015-10-20 16:54] sydneyjd commented on #193
@Hume2 Can you take a peek into fixing it then?

[2015-10-20 16:56] Hume2 commented on #193
@sydneyjd It's a bug of how SuperTux handles collisions. I didn't manage to solve it so far, but we should. Maybe I shoud give it the high priority.

[2015-10-20 16:58] tobbi commented on #193
"Maybe I should give it the high priority" -> It's your project now!

[2015-10-20 17:00] tobbi commented on #193
@brmbrmcar Please attach the test level.

[2015-10-20 17:07] brmbrmcar commented on #193
How?

[2015-10-20 17:07] brmbrmcar commented on #193
Idon't have permission.

[2015-10-20 17:07] tobbi commented on #193
@brmbrmcar Upload it somewhere else, then post a link here.

[2015-10-20 17:10] brmbrmcar commented on #193
http://www.fileconvoy.com/gf.php?id=g632bf87048533af5999737685.783822b09520f18d0a2e9a&sts=1445361010212140122164b677c3395090d330bb46d7b2752df139

[2015-10-21 16:41] #193 closed

[2015-10-21 16:41] brmbrmcar opened #195 "Stop credit music starting again right at the very end"
I would fix this, but am not sure what should be done. It isn't natural to restart on the very last sentence. It didn't happen in Milestone 1 (because they could get away with only playing it once).

[2015-10-22 15:28] brmbrmcar opened #196 "Update requirements for SDL."
SDL 2.0.0 doesn't work any more; you need SDL 2.0.1. Say that.

[2015-10-22 16:20] maxteufel commented on #196
#197

[2015-10-22 17:27] brmbrmcar commented on #191
Levels are designed differently now. It should stay put.

[2015-10-23 05:01] Hume2 commented on #196
So it's solved, isn't it?

[2015-10-23 05:01] #196 closed

[2015-10-23 06:51] brmbrmcar commented on #196
Yes.

[2015-10-23 23:25] DevynCJohnson opened #198 "Contributing Images and Sprites"
I would like to contribute by submitting new sprites, backgrounds, tile-sets, etc. I do not know how to easily upload images to GitHub Pull-requests. What is the best method for contributing images to the SuperTux project?

[2015-10-24 00:14] tobbi commented on #198
Can you do a pull request? (Do you know how to create pull requests, if not, see https://help.github.com/articles/using-pull-requests/)

[2015-10-24 07:17] maxteufel commented on #198
Pull request containing the changes are one option, another way is to attach the picture in an issue/another pull request using drag-and-drop (or look at the bar on the bottom of the comment box).

![github_attach_file](https://cloud.githubusercontent.com/assets/6442985/10709461/f7f015da-7a2f-11e5-817c-57f73ca4c38a.png)

[2015-10-24 09:11] spider2016 opened #199 "Problem with saved files"
Officialy supertux0.3.5a-1.fc22   from  Russian fedora 22 is not working.
Additional levels not saved too at HDD
Do you speak Russian?, I very poor speak english!

[2015-10-24 09:15] spider2016 commented on #199
Old  compiled (Janury 2015compiled with git and cmake)supertux2 worked fine! That is why problem with supertux0.3.5a-1.fc22 version

[2015-10-24 09:18] brmbrmcar commented on #199
We'll have to look into it.

[2015-10-24 09:24] brmbrmcar commented on #199
It doesn't work at all?

[2015-10-24 09:25] spider2016 opened #200 "Problem with tinytext library"
[code]

And when i tryed to oper supertux2:
[code]

I compiled library tinygettext via https://github.com/tinygettext/tinygettext but i can see error and supertux2 is not working.
I think? that problem with 64/32 bit versions. Please make 64bit version of libtinygettext.so

[code]

[2015-10-24 09:26] brmbrmcar commented on #200
I think it wants Supertux/tinygettext.

[2015-10-24 09:27] spider2016 commented on #199
May be do you speake russian))?  i am very long speak english.

[2015-10-24 09:27] maxteufel commented on #199
Is this some kind of Fedora spinoff or is it just Fedora with Russian localization?

There's no contributor speaking Russian as far as I know, official support is provided in English.

Well, sorry, but we'd actually need more information to debug this. Do you have write permission to `~/.supertux2`? Pastebin stdout? Can you provide an strace?

[2015-10-24 09:29] spider2016 commented on #199
yes, this directory ~supertux is exist. I can give you archive with this directory

[2015-10-24 09:30] spider2016 commented on #199
I began level again after exit, from first level

[2015-10-24 09:31] maxteufel commented on #199
No I don't want an archive (fwiw, `~supertux` would be the home directory of the user `supertux` in bash). I want to know what permission the directory and its contents have.

[2015-10-24 09:32] maxteufel commented on #199
Which level are you talking about? And what exit?

[2015-10-24 09:32] spider2016 commented on #199
ls -l .supertux2/
итого 12
drwx------ 2 wi wi 4096 окт 24 11:27 addons
-rw------- 1 wi wi 2404 окт 24 11:54 config
drwx------ 2 wi wi 4096 окт 24 11:32 profile1

[2015-10-24 09:33] spider2016 commented on #199
-rw------- 1 wi wi 267 окт 24 11:54 world1.stsg
-rw------- 1 wi wi 338 окт 24 11:38 world2.stsg

[2015-10-24 09:34] brmbrmcar commented on #199
Are the levels saved?

[2015-10-24 09:36] maxteufel commented on #200
Is this (`supertux2`) built from the git repository? If so, please get the submodules and cmake will automatically use them upon compilation.

What's happening is that `libtinygettext.so` isn't in your library path (no wonder when the `supertux2` binary is in the same directory, I have **no** idea how you got this), it has nothing to do with 64-bit versions.

It would be great if you'd provide mor

[2015-10-24 09:36] spider2016 commented on #199
Which level are you talking about? And what exit?
any level
the second
fifth
I go out and my level is first

[2015-10-24 09:37] spider2016 commented on #199
Are the levels saved?
no level will be first

[2015-10-24 09:37] brmbrmcar commented on #199
Any level.

[2015-10-24 09:37] brmbrmcar commented on #199
OK.

[2015-10-24 09:37] brmbrmcar commented on #199
Right...

[2015-10-24 09:42] brmbrmcar opened #201 "Backflipping to a bonus block hides Tux behind it"
![screenshot from 2015-10-24 10 41 59](https://cloud.githubusercontent.com/assets/14400196/10710014/e33f3e20-7a3b-11e5-833e-8c76f356939e.png)

[2015-10-24 09:43] maxteufel commented on #201
Should this considered to be a bug or a feature?

[2015-10-24 09:44] brmbrmcar commented on #201
Feature; it isn't massive.

[2015-10-24 09:46] maxteufel commented on #199
Now what are you talking about?

Does this mean that add-ons aren't installed to where they belong? Or does it mean that you play a level (what do you consider to be additional then (add-ons/everything but world1/...)) and when you quit the game and open it again your state's been reset?

[2015-10-24 09:47] maxteufel commented on #201
Then, where's the issue?

[2015-10-24 09:47] brmbrmcar commented on #199
They should be saved in /.supertux2/addons.

[2015-10-24 09:47] brmbrmcar commented on #199
They changed it.

[2015-10-24 09:48] brmbrmcar commented on #201
It's a bit of a bug.

[2015-10-24 09:48] brmbrmcar commented on #201
How can Tux get behind it?

[2015-10-24 09:53] spider2016 commented on #199
Now what are you talking about?
Additional levels not saved too at HDD:
I mean that saver Additional levels not saved too , for example, forest levels

[2015-10-24 09:54] brmbrmcar commented on #199
So they aren't saved?

[2015-10-24 09:57] maxteufel commented on #199
**What** isn't saved? The **state** of the level (the green dot in world1, the star in world2) or a **level you downloaded using the add-on manager** isn't saved to disk?

[2015-10-24 09:58] brmbrmcar commented on #199
I think they mean the state of the level.

[2015-10-24 10:01] maxteufel commented on #199
It could be helpful to have a log of stdout (when you run `supertux2` in the command line, pastebin all the output) or even a `strace(1)`, and also the permissions of `~/.supertux2` itself (not shown when you `ls -l` inside it, `ls -la` shows it).

[2015-10-24 10:04] spider2016 commented on #199
Now, directory changed to .supertux2, but levels is now saved.
and errors:

[WARNING] /builddir/build/BUILD/supertux-0.3.5a/src/addon/addon_manager.cpp:120 parsing repository.nfo failed: Problem when reading Add-on list: Couldn't open file '/addons/repository.nfo': No such file or directory
[WARNING] /builddir/build/BUILD/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds' table e

[2015-10-24 10:06] brmbrmcar commented on #199
That's a bug alright.

[2015-10-24 10:07] spider2016 commented on #199
brmbrmcar , is right. state at level

[2015-10-24 10:10] brmbrmcar commented on #199
Are there any other problems with the build?

[2015-10-24 10:21] maxteufel commented on #199
Why the heck is it looking for the addons directory in `/`? Why would you use `/` as userdir (don't do that, additionally you'd need write permission to `/` (again, **no**))?

This seems more like a broken/unread- or writable savegame file (see <https://github.com/SuperTux/supertux/blob/release/0.3.5/src/supertux/savegame.cpp#L365-L391>, for some reason, it can't load some entries).

Would you pos

[2015-10-24 10:26] spider2016 commented on #199
i need your email,or  my email is sashachaos@gmail.com

[2015-10-24 10:28] maxteufel commented on #199
For what would you need my email? Just post these files to a [pastebin](https://gist.github.com), there shouldn't be any personal information in them.

Alternatively, can you reproduce this with `supertux2 --userdir /tmp/supertux2-userdir-issue199`?

[2015-10-24 10:32] spider2016 commented on #199
I do not make any changes only played 2-3 level. The directory is empty
/home/chaos/.supertux2/addons

[2015-10-24 10:33] maxteufel commented on #199
You didn't answer any of my questions.

[2015-10-24 10:44] spider2016 commented on #199
http://paste.fedoraproject.org/283189/56834161/

[2015-10-24 10:50] spider2016 commented on #199
http://paste.fedoraproject.org/283193/83770144/

[2015-10-24 10:55] spider2016 commented on #199
I have some archive  and 2 september 2015, addons was not empty.

[2015-10-24 10:56] maxteufel commented on #199
I get the same error messages using a 0.3.5a build but I can't reproduce the not-saving states. For some reason, in your STSGs, the `("worlds" )` entry is empty. When I use this file it gets automatically reset to a good one.

[2015-10-24 10:57] maxteufel commented on #199
To avoid the addons error, you'd just go to the Add-on manager and download the addon list, then it will stop complaining.

[2015-10-24 11:36] spider2016 commented on #200
git:
http://paste.fedoraproject.org/283204/14456861/
cmake
http://paste.fedoraproject.org/283205/45686432/

[2015-10-24 11:37] spider2016 commented on #200
about libtinygettext.so i only usee clone git and cmake tinytext library

[2015-10-24 12:06] spider2016 commented on #199
I understand you, but you are no right!!! State is not save!

[2015-10-24 12:10] maxteufel commented on #199
Can you reproduce that with a **clean** userdir?

[2015-10-24 12:16] maxteufel commented on #200
tinygettext is included as a submodule (once for simplicity, and also because we've [forked it](https://github.com/SuperTux/tinygettext)).

Not using the standard procedure for building (or at least you should use <https://github.com/SuperTux/tinygettext>) isn't supported and renders this issue invalid. If building as described in [INSTALL.md](https://github.com/SuperTux/supertux/blob/master/INSTA

[2015-10-24 12:16] #200 closed

[2015-10-24 14:06] spider2016 commented on #199
unfortunately, I deleted directory .supertux2, but state is not save
and:
[WARNING] /builddir/build/BUILD/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds' table entry
[WARNING] /builddir/build/BUILD/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds' table entry
[WARNING] /builddir/build/BUILD/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds'

[2015-10-24 15:26] DevynCJohnson commented on #198
I know how to do a pull-request and I have done it before with other projects. However, I was unaware that I could drag and drop images in the box. Thanks for pointing that out. I was not sure if that was the proper method.

Thanks @maxteufel

[2015-10-24 15:26] #198 closed

[2015-10-24 15:45] spider2016 commented on #199
Now, i compiled official source code and stat is normal. Supertux working good
: [WARNING] /home/chaos/M2/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds' table entry
[WARNING] /home/chaos/M2/supertux-0.3.5a/src/supertux/savegame.cpp:385 failed to get 'worlds' table entry
[WARNING] /home/chaos/M2/supertux-0.3.5a/src/supertux/savegame.cpp:438 failed to get 'levelsets' table entr

[2015-10-24 15:48] maxteufel commented on #199
Git doesn't take a directory as argument. You need to be in that directory to run the command.

[2015-10-24 15:49] maxteufel commented on #199
The official 0.3.5a source code? If so, please close this issue. Thanks.

[2015-10-24 18:26] #199 closed

[2015-10-25 01:39] sydneyjd commented on #201
Its a good thing to point out, but its honestly not a big deal, so if i hear no objections, i will close this issue.

[2015-10-25 08:28] brmbrmcar commented on #201
It's worse than https://github.com/SuperTux/supertux/issues/165.

[2015-10-25 15:06] Hume2 commented on #201
How do you think that this should be fixed?

[2015-10-25 21:32] sydneyjd commented on #191
Im labeling this as post 4.0.

[2015-10-25 21:33] sydneyjd commented on #191
Unless we think its a bug, of course.

[2015-10-25 21:33] brmbrmcar commented on #191
It's not.

[2015-10-26 13:39] brmbrmcar opened #204 "Bonus islands 1+2 levels have no licenses specified"

[2015-10-26 16:52] Hume2 commented on #204
There are two options:
1) Manipulate the license
2) As of I'm the restaurator of those levels, we can say that I am the author of these levels. Therefore I can specify the license.

Choose what you want, but the result is the same.

[2015-10-26 16:56] sydneyjd commented on #204
Might as well just change the licence. This is not a big deal though.

[2015-10-26 16:57] Hume2 commented on #204
@sydneyjd option 1 or 2?

[2015-10-26 17:01] sydneyjd commented on #204
Probably Option 2.

[2015-10-26 17:20] brmbrmcar commented on #204
Yes, but doesn't everyone have a big deal about it having to be licensed under GPL.

[2015-10-26 17:21] brmbrmcar commented on #204
Sorry about typo...

[2015-10-26 17:25] Hume2 commented on #204
@brmbrmcar please test the pull request #126 if you can. If you can't, it doesn't matter. After that update, each level will be restaured, so the original authors will have no claim to them. And then option 2.

[2015-10-26 17:38] brmbrmcar commented on #204
I like the changes a lot.

[2015-10-26 17:52] Hume2 commented on #204
I have to do some chenges though. But Thank you. Now I can say that someone has tested it.

[2015-10-26 18:07] brmbrmcar commented on #204
I like the way you made the first Bonus Island 2 level easier. It is a much better difficulty now.

[2015-10-26 20:22] Karkus476 commented on #201
@brmbrmcar I don't see what the problem is. Is it the fact that he's behind? That's not really a bug, let's be honest.

[2015-10-26 20:24] Karkus476 commented on #195
I really don't think anything needs to be changed. It's a good point, but you can scroll up and down in the credits.

[2015-10-26 20:26] tobbi commented on #142
This is now merged to master, pending a sign that explains the badguy to users (since I believe it might not be understandable at first glance.

[2015-10-26 20:26] #142 closed

[2015-10-26 20:27] Karkus476 commented on #195
Best idea evar: The credits are a level much like [in super mario bros. wii](https://youtu.be/1gDzHncTHwY?t=1m4s), which would make it really fun I think.

[2015-10-26 20:33] Karkus476 opened #205 "Credits As A Seperate Level"
The credits would be a level much like [in super mario bros. wii](https://youtu.be/1gDzHncTHwY?t=1m5s), which would make it really fun I think. It's a silly idea, but here's a place to put any ideas for what the level could be like, too, rather than copy Nintendo if we decide to implement this.

[2015-10-26 21:22] Karkus476 commented on #142
@tobbi not much is really explained in the forest world.

[2015-10-26 22:24] tobbi commented on #142
True that.

[2015-10-27 08:45] brmbrmcar commented on #142
Has anyone tried it yet? Video?

[2015-10-27 09:49] tobbi commented on #83
Luckily, this isn't bound to any release since it's an add-on. So, I'm putting this in post-0.4.0 for now.

[2015-10-27 09:54] tobbi commented on #201
I'm sorry, I will close this. I know it might be considered a bug. But it's barely noticeable (only people who have *severe* OCD will notice this). To fix this, substantial resources would be needed, as far as I can tell...

[2015-10-27 10:16] brmbrmcar opened #207 "Squirrel Level.edit bug"
Running Level.edit(true); then Level.edit(false); closes the game.

[2015-10-27 15:47] Karkus476 opened #208 "Poll: Which Wiki?"
Vote here on which wiki we should use for information on the supertux game
1) Only [The Old Wiki](http://supertux.lethargik.org/wiki/Main_Page)
2) Only [The GitHub Wiki](https://github.com/SuperTux/supertux/wiki)
3) Both 1 & 2
4) Other (please specify)
Any vote which does not clearly state 1 - 4 may not be counted
This poll should remain open until 2016 at a minimum

[2015-10-27 15:50] sydneyjd commented on #208
Why did you open this?  We have been relying on both wiki's untill everything gets transfered over to Github's wiki. Currently that is far from beign finished.
Also, very few of us have write access to the old wiki.

[2015-10-27 15:54] Karkus476 commented on #208
But neither wiki is complete, and I like the old wiki more than the new wiki. If this decision has already been made I apologise, I was just unsure as to what the intention was exactly concerning the wikis. If this is the case, a strong effort needs to be made to transfer the data across

[2015-10-27 15:55] Karkus476 commented on #208
Can we not get access to the old wiki?

[2015-10-27 15:57] sydneyjd commented on #208
Its possible, but not easy. We had made up our minds to use the github wiki when we transfered to github,  and still plan on it, but no one has gotten around to transfering stuff.

I will close this issue then.

[2015-10-27 15:58] sydneyjd commented on #208
Also, the old wiki's server could go down at any time, since its not really maintained anymore.

[2015-10-27 15:59] sydneyjd commented on #205
This woudl be cool, but honestly i would find it slightly annoying. What does everyone else think?

[2015-10-27 16:19] #195 closed

[2015-10-27 17:05] brmbrmcar commented on #195
That would be alright though, because there is more of the music to play.

[2015-10-27 17:05] brmbrmcar commented on #205
Awesome.

[2015-10-27 17:06] brmbrmcar commented on #205
Allow the player to play though.

[2015-10-27 17:07] brmbrmcar commented on #208
Old one.

[2015-10-27 17:07] Karkus476 commented on #195
What I'm saying is, this is a temporary issue and it's requirements (in theory) are changing constantly so we cannot consider it as something that needs fixing.

[2015-10-27 17:08] brmbrmcar commented on #195
Yeah. But i was just thinking about how big a release 0.4.0 will be...

[2015-10-27 17:08] brmbrmcar commented on #205
The music is a bit too sad for it though.

[2015-10-27 17:10] Karkus476 commented on #205
@brmbrmcar Yes, I believe if this was implemented a music change would be essential. Quite why the music is sad anyway is a bit odd. Should be happy music, it's not like the developers have died!

[2015-10-27 17:13] Karkus476 commented on #175
@Hume2 You will rename the files? Thanks!

[2015-10-27 17:14] Karkus476 commented on #175
Actually to be fair this is a problem throughout the game and its addons. Should we force addons creators to name their files thoughtfully?

[2015-10-27 17:17] Hume2 commented on #175
@Karkus476 No. It has no visual effect and we are not the people who edit it. The names should be clear for the people who edit those levels. We don't edit them, so it's just the choice of the authors.

[2015-10-27 17:25] sydneyjd commented on #165
No one else can reproduce it? If you can, you can re-open this issue, otherwise im going to close it.

[2015-10-27 17:26] brmbrmcar commented on #165
I can, but can't screen record.

[2015-10-27 17:26] sydneyjd commented on #165
Yes, you, but i need someone else beside you.

[2015-10-27 17:27] brmbrmcar commented on #205
Yes! I got a bit scared of it because of the music.

[2015-10-27 18:08] Karkus476 commented on #175
@Hume2 Okay, so what are you going to do in order to solve this?

[2015-10-27 18:09] Karkus476 commented on #165
@brmbrmcar why can't you screen record?

[2015-10-27 18:10] Karkus476 commented on #165
@sydneyjd I'm not going to undo your closing, but unless this is open, it is not going to get the attention it may well need, it's had a warning, so give it a few days before closing it. Please?

[2015-10-27 18:12] brmbrmcar commented on #165
I am using crouton.

[2015-10-27 18:14] Karkus476 commented on #165
@brmbrmcar Oh. Okay

[2015-10-27 18:14] brmbrmcar commented on #165
I hope they fix it.

[2015-10-27 18:18] Karkus476 commented on #72
We actually need to work out what the issue is: Why has tux's position not been reset, when the worldmap has? Rather than just a hack which tests if it's a possible map situation

[2015-10-27 18:22] brmbrmcar commented on #72
It doesn't happen when the worldmap resets necessarily.

[2015-10-27 18:23] Karkus476 commented on #72
@brmbrmcar I think it happens when you reinstall supertux

[2015-10-27 18:30] brmbrmcar commented on #72
Yes, it does.

[2015-10-27 19:13] Karkus476 commented on #208
@sydneyjd Please can we just see what people think?

[2015-10-27 19:14] brmbrmcar commented on #208
How can this thing be opened?

[2015-10-27 19:15] Karkus476 commented on #208
I can open it, but I've been explicitly told not to, so I won't

[2015-10-27 19:15] brmbrmcar commented on #208
By who?

[2015-10-27 19:15] Karkus476 commented on #208
@sydneyjd

[2015-10-27 19:16] brmbrmcar commented on #208
What if you open it?

[2015-10-27 23:25] sydneyjd commented on #165
Fine. :-)

[2015-10-27 23:27] sydneyjd commented on #208
@tobbi what do you think? :)

[2015-10-28 08:26] brmbrmcar commented on #208
Old one!

[2015-10-28 09:10] tobbi commented on #208
I think that transferring the wiki pages is quite a lot of work... So, maybe we should have both of them coexist.

[2015-10-28 09:15] Karkus476 commented on #208
I think that both wikis should exist for the time being, but ultimately the GitHub wiki should be based around development of SuperTux and actually getting the game running. The old wiki can be used for gameplay, as it is not updated as frequently. We should keep a backup of the old wiki in a SuperTux repo. Therefore I vote 3

[2015-10-28 10:30] Karkus476 opened #209 "Music Stops During Gameplay"
Sometimes the music will stop randomly while I am playing, only to continue if I pause and unpause. I'm on Linux Mint 17.2, if you need more info just ask.

[2015-10-28 10:33] Karkus476 commented on #191
No I think this is a bug, tux should never be off the screen unless he's dead. The solution to this is to create a moving wall (invisible) which will crush Tux against other tiles just like in the Super Mario games

[2015-10-28 10:36] Karkus476 commented on #207
[The Scripting Reference](http://supertux.lethargik.org/wiki/ScriptingLevel) is here, but it's not clear what this does. What are you trying to do?

[2015-10-28 11:17] brmbrmcar commented on #207
Allow the player to look around.

[2015-10-28 11:18] brmbrmcar commented on #209
It happens to me occasionally.

[2015-10-28 11:45] tobbi commented on #209
Does reverting 8e52a5b000d732e96b1cc461163c4778b434dc27 fix it?

[2015-10-28 11:46] brmbrmcar commented on #209
I cannot compile Supertux.

[2015-10-28 11:53] tobbi commented on #209
Error message?

[2015-10-28 11:53] brmbrmcar commented on #209
For what?

[2015-10-28 11:54] tobbi commented on #209
What problems do you have while compiling?

[2015-10-28 11:55] brmbrmcar commented on #209
I don't have any SDL stuff. I can't compile it successfully.

[2015-10-28 12:29] Hume2 commented on #208
Option 2.
The old wiki contains many hoaxes, so it should be rewritten anyway. I'd recommend to throw the old one away and make a brand new.

[2015-10-28 12:30] brmbrmcar commented on #208
Option 1.

[2015-10-28 12:49] Hume2 commented on #208
I changed my opinion to 1. The github wiki seems me not suitable, because the sidebar displays all pages and the sidebars and footers are the same in all pages, so after the github wiki gets all the content from the old wiki, everyone will be just lost in all those pages. So I recommend  using the old wiki. There's just one problem: I can't access locked pages because of Giby.

[2015-10-28 13:02] brmbrmcar commented on #208
And you just deleted your user page on there.

[2015-10-28 13:06] Hume2 commented on #208
It was outdated. I'd like noone see what was there.

[2015-10-28 13:09] brmbrmcar commented on #208
OK.

[2015-10-28 20:15] Karkus476 commented on #209
I cannot right now as I have not got my laptop, but when I get the chance I will revert and test without that. The trouble is, I cannot really confirm as it does not always happen.

[2015-10-29 05:43] Mathnerd314 commented on #201
This is a hitbox bug, if you use ``debug_collrects(true)`` you will see that Tux's backflip hitbox has been messed up a lot by f8a53829ebdb72bd7deffa1d249b71625e84a10a. It's particularly noticeable if you're in a 1-block wide chute:
![image](https://cloud.githubusercontent.com/assets/322214/10811018/e13f047c-7dcc-11e5-94ff-c734fa4fdfea.png)
Tux's image is somewhat shifted to the left (his hitbox i

[2015-10-29 08:44] brmbrmcar commented on #201
I thought so.

[2015-10-29 10:27] brmbrmcar commented on #208
very few of us have write access to the old wiki.

Really?

[2015-10-29 13:44] sydneyjd commented on #208
@brmbrmcar Yes really.

[2015-10-29 15:51] brmbrmcar commented on #208
???

[2015-10-29 16:26] Karkus476 commented on #208
@sydneyjd It is okay, @tobbi and @LMH0013 are 2 examples of people who can edit the wiki and, if they should wish, give others the ability to edit it too.

[2015-10-29 16:27] brmbrmcar commented on #208
I have an account.

[2015-10-29 22:13] #204 closed

[2015-10-29 23:44] Karkus476 commented on #184
I will try to make a judgement on what to include or exclude

[2015-10-30 00:22] tobbi commented on #72
I believe what happens is that it reads Tux's position from the squirrel table which seems to succeed, but fails to read the level information. Since tux's position has already been set, but the subsequent call to get the level tables yields an error, this leads to the situation above.

[2015-10-30 04:22] tobbi commented on #119
@LMH0013: Having separate locale add-ons works now. A thing to note:
*The subdirectory the language files are in has to have the same name as the add-on ID. From there, please create a subdirectory for each levelset. You can then place the po file in that directory. You can find the source for the german-language-pack in the add-ons repository.

[2015-10-30 11:48] tobbi opened #212 "Language add-ons: Ability to remove language add-ons"
Currently, tinygettext doesn't have a remove_directory option, but needs one in order for the changes to take effect. Currently, disabling a language pack doesn't work until you restart the game (where the directories are read again).

[2015-10-30 13:19] Karkus476 commented on #191
I also think this should be 0.4.0, as the player being off the screen is never a good thing.

[2015-10-30 13:28] Karkus476 commented on #72
This is not yet tested. Did you close it intentionally?

[2015-10-30 13:39] Hume2 commented on #191
We have a sollution: delete autoscroll

[2015-10-30 13:41] brmbrmcar commented on #191
I don't like autoscroll much. But it cannot be deleted.

[2015-10-30 13:44] Hume2 commented on #191
The same for me. Since we can add a real moving danger, there's no need for autoscroll.

[2015-10-30 13:46] brmbrmcar commented on #191
I'd keep it the same for now.

[2015-10-30 13:47] brmbrmcar opened #213 "Things to do by 0.4.2"
It has to be done.

[2015-10-30 13:48] Hume2 commented on #191
Philosophical question: Why should be Tux killed by the edge of camera? Just because we can't see him? Or is there something so scary and dangerous, so we can't see it?

[2015-10-30 13:50] brmbrmcar commented on #191
The answer is no.

[2015-10-30 14:05] sydneyjd commented on #191
Honestly, i think its fine the way it is. Most people who are playing autoscrolling levels are not worried about going back, but staying towards the front of the movement.
It also doesn't seem right to kill a player thats behind the visual autoscroll. What if he fell behind and is right on the edge?

Just some thoughts. :)

-Sydney

[2015-10-30 14:13] tobbi commented on #72
You're right, it should be tested. I kind of closed it intentionally because I figured this might be the only reason why this happens. But, someone go ahead and test it.

[2015-10-30 14:16] brmbrmcar commented on #72
It is going to take forever to test; the issue is random.

[2015-10-30 19:27] maths22 commented on #208
@sydneyjd Since the wiki server is apparently not currently maintained, if there is interest, I have access to a server it could be transferred to (it is used for hosting some other open source projects' pages and such).  Also, if people are interested, I could work on spam prevention with the existing wiki so that it access could be less restricted (A combination of well-used spam filters and cap

[2015-10-30 20:37] Karkus476 commented on #194
Hmm, just wondering what that did...

[2015-10-30 21:05] Karkus476 commented on #72
Install, and then reinstall SuperTux. I believe that causes the problem

[2015-10-30 21:08] brmbrmcar commented on #72
Sometimes.

[2015-10-30 21:08] Karkus476 opened #214 "Installing SuperTux From Source on Linux Does Not Work"
Running
``# make install``
and then
``# supertux2``
gives
`` supertux2: error while loading shared libraries: libsquirrel.so: cannot open shared object file: No such file or directory``

[2015-10-30 21:09] tobbi commented on #214
I believe this has something to do with the out-o-tree builds. I will assign maths22 to this, because hopefully he can shed some light on this.

[2015-10-30 21:09] tobbi commented on #214
@maths22 Ideas?

[2015-10-30 21:12] Karkus476 commented on #213
We could do with a list of things to be added/fixed before 0.4.2

[2015-10-30 21:12] brmbrmcar commented on #213
Yes.

[2015-10-30 21:16] Karkus476 commented on #213
I suppose here is a good place to make that list?
1) Further develop the concepts introduced in 'A Ghostly World' and 'Light and Magic' with new levels and even features

[2015-10-30 21:21] brmbrmcar commented on #213
Yes, it is.

[2015-10-30 22:59] sydneyjd commented on #208
I still wish to use github for our wiki, since everything else we have is there. We honestly don't need another server. What we have is dated and Barely supported/works, but it still does the job.

[2015-10-31 01:18] tobbi commented on #212
This was fixed in e984f6c

[2015-10-31 01:18] #212 closed

[2015-10-31 01:23] Karkus476 commented on #208
Hmmm as far as I know, media wiki is well supported still, and is a solid base for a good wiki. I prefer the look of it over the disorganised GitHub wiki. Not our fault though, GitHub does not allow the flexibility in markdown.

[2015-10-31 07:24] maxteufel commented on #213
As stated in #71, we're trying to follow <http://semver.org/> starting with the 0.4.0 release. Because this is (in my opinion) not a bugfix, this shouldn't increase the patch version (z in x.y.z) but this would actually be release 0.5.0.

Generally, "Things to do by <version>" can be opened as separate issues and then assigned to Milestone "post-0.4.0".

[2015-10-31 08:29] brmbrmcar commented on #213
WE need at least 0.4.2 for 0.4.x.

[2015-10-31 08:35] maxteufel commented on #213
Oh my god, is this so dramatic to not have 0.4.2 (if you want it, take the final 0.4.0 release when it's done and find two bugs)? It's just annoying, for users and packagers to not know what a version increase means when you don't follow a **sane** versioning system.

[2015-10-31 08:57] Karkus476 commented on #213
@maxteufel We don't really have a versioning system, as far as I can see we just make it up as we go along. But you already know that.

[2015-10-31 08:59] Karkus476 commented on #213
I actually think we should jump to 2.0.0 and then use <milestone>.<new features>.<bugfixes>

[2015-10-31 09:35] brmbrmcar commented on #213
No.

[2015-10-31 13:17] maxteufel commented on #213
@Karkus476: We **didn't have** one, but after the report in #71 we decided to introduce [semver](http://semver.org/) starting from release 0.4.0 (the discussion mainly happened in IRC, not on GitHub), as semver is what most projects use these days.

[2015-10-31 15:45] Karkus476 commented on #213
Oh, I see, thanks for the clarification. I guess that SemVer is the best way to go about versioning a project like this. I didn't realise and agreement had been made.

[2015-10-31 15:50] maxteufel commented on #213
I'll close this now, please open separate issues for real ideas to improve the forest world.

[2015-10-31 15:50] #213 closed

[2015-10-31 15:52] Karkus476 commented on #213
@maxteufel Good idea

[2015-10-31 15:52] maxteufel commented on #213
Note that in issues, you can actually make lists (even tickable), like this:

- [x] `- [x] This is some text`
- [ ] `- [ ] This text stays unticked`

[2015-10-31 15:54] Karkus476 commented on #213
Thanks?
- [ ]
- [x]

[2015-10-31 15:55] maxteufel commented on #213
You'll need to put actual text behind the brackets, it won't work if you don't do that.

If the list's in the original post, GitHub will add "x of y tasks done" to the issues overview.

[2015-10-31 15:56] Karkus476 commented on #213
I will soon be a GitHub ninja!

[2015-11-01 20:01] brmbrmcar opened #215 "Add sprite for butt-jumped Iceblock and frozen spiked enemies"
Instead of falling off the screen.

[2015-11-02 00:14] Karkus476 commented on #215
Also enemies hit from underneath should spin of the screen rather than just dropping. It startles me

[2015-11-02 06:07] Hume2 commented on #215
We have already something for butt-jumped frozen enemies. May I apply this animation for all fall-of-screen deaths?

[2015-11-03 02:25] maths22 commented on #214
I will take a look shortly. (I think we just need to to set it to install libsquirrel)

[2015-11-03 06:02] maths22 commented on #214
As it turns out, that is not the issue.  The issue is that "make install" installs to /usr/local/lib, which is not always on the user's path (it is for Ubuntu, but not Fedora, for example).  This is the correct behaviour, but it should be documented in INSTALL.  To fix this issue, see http://unix.stackexchange.com/questions/67781/use-shared-libraries-in-usr-local-lib

When packages are created, th

[2015-11-05 17:12] Karkus476 commented on #215
@Hume2 What are you talking about? The squish animation?

[2015-11-05 17:16] Karkus476 commented on #110
Requesting close

[2015-11-05 17:22] Hume2 commented on #215
Freeze a jumpy and then butt-jump. That's what I'm talking about. It's commit https://github.com/SuperTux/supertux/commit/f9b0133338e790a8286c0a948576782790b43040

[2015-11-05 18:42] tobbi commented on #110
Please re-open if this issue occurs again.

[2015-11-05 18:42] #110 closed

[2015-11-06 07:31] Grumbel opened #216 "Image recompression is overly agressive"
Haven't looked into the details, but this last recompression of images was overly aggressive and lead to image formats that are no longer easily modifiable. This one for example:

    ./data/images/background/halloween/fog.png

Will show up in Gimp as indexed image with 1bit alpha, instead RGB with 8bit alpha channel. It still renders correctly in other viewers. So this might be a bug in in Gimp,

[2015-11-06 07:53] brmbrmcar commented on #216
How about reversing the affected images for now, and deal with it after  0.4.0?

[2015-11-06 09:57] Grumbel commented on #216
Original Image:

    ./data/images/background/halloween/fog.png...
      Image Width: 1280 Image Length: 256
      Bitdepth (Bits/Sample): 8
      Channels (Samples/Pixel): 4
      Pixel depth (Pixel Depth): 32
      Colour Type (Photometric Interpretation): RGB with alpha channel
      Image filter: Single row per byte filter
      Interlacing: No interlacing
      Compression Scheme: Deflate met

[2015-11-06 12:06] tobbi commented on #216
Maybe we should revert the changes. I'm sorry, but there's no way for me to modify the compression parameters easily as I'm using a GUI tool called ImageOptim.

[2015-11-06 15:28] brmbrmcar commented on #216
How much difference in size was there?

[2015-11-06 23:01] Karkus476 opened #217 "Swimming"
Swimming in SuperTux is a planned idea.

[2015-11-06 23:50] deveee opened #218 "Add high resolution icon"
Current icon doesn't look good i.e. under Gnome, which displays icons in 128x128 resolution by default.

I was always using this icon:
![supertuxportable_128](https://cloud.githubusercontent.com/assets/5108558/11011519/0b351190-84e9-11e5-8db3-b073947af72d.png)
which looks quite good. Unfortunately it was found somewhere in the web and I can't say anything about an author and license :(

[2015-11-06 23:52] Karkus476 commented on #218
In which case we probably can't use it. Please try to find a source, as this is a good idea

[2015-11-06 23:58] tobbi commented on #218
Source: http://www.deviantart.com/art/Supertux-Dock-Icon-176711771

License: CC-BY-SA 3.0

[2015-11-06 23:58] deveee commented on #218
It looks like here is the original icon:
http://sarrel.deviantart.com/art/Supertux-Dock-Icon-176711771
Created by Sarrel, under CC BY-SA 3.0 license

[2015-11-07 00:02] tobbi commented on #218
Actually we have a 256px icon in the repository:
https://github.com/SuperTux/supertux/blob/master/data/images/engine/icons/supertux-256x256.png

[2015-11-07 00:05] tobbi commented on #215
I don't really like the shatter animation. It definitely needs to be reworked.

[2015-11-07 00:24] Karkus476 commented on #218
@tobbi But this one's better I think.

[2015-11-07 03:05] sydneyjd commented on #218
How about i make us a logo?

[2015-11-07 03:08] sydneyjd commented on #218
icon*

[2015-11-07 08:25] brmbrmcar commented on #218
Why not someone make a good vector graphic of the current one and allow up to 512x512?

[2015-11-07 08:27] brmbrmcar commented on #217
Be careful. Otherwise it would ruin almost every level. Implement it, but use different sorts of water for it. Some of the levels would be too easy otherwise.

[2015-11-07 09:12] maxteufel commented on #217
In fact, water shouldn't be over-used according to the style guidelines, with the reasoning: "It's useless if you can't swim."

Good idea to re-post the idea here.

[2015-11-07 09:26] brmbrmcar commented on #217
How would Tux swim?

[2015-11-07 09:31] maxteufel commented on #217
By pressing some keys?

[2015-11-07 10:13] brmbrmcar commented on #217
Action key?

[2015-11-07 10:39] maxteufel commented on #217
Possibly, but I also thought about moving up and down, and shooting other enemies that can swim (which is where we'd need the action for that).

[2015-11-07 10:51] brmbrmcar commented on #217
See, swimming is too complicated. WE can't have any more buttons.

[2015-11-07 10:55] tobbi commented on #217
We could have a custom bonus block item for that.

[2015-11-07 11:25] Hume2 commented on #217
Just please don't make it the same as climbable.
I'd suggest that swimming would be the only possible action in water. It should look like penguins normal swim, so tux would be unable to stop when swimming and he could change his angle by pressing up and down.

[2015-11-07 11:35] maxteufel commented on #217
:+1:

I agree that Tux shouldn't be able to walk in water, but imho there should be a way to kill enemies that one might find in water.

[2015-11-07 12:33] brmbrmcar commented on #217
priority:low,not priority:medium.

[2015-11-07 12:38] maxteufel commented on #217
This is `priority:medium` because this idea is so old and is a TODO for 0.5.x/M3. I'd think this should be actually `priority:high` after the release of M2.

[2015-11-07 13:54] sydneyjd commented on #218
Here is what i have so far, its no beauty yet though
![4](https://cloud.githubusercontent.com/assets/8949851/11015437/18dc3dde-852d-11e5-999c-ca0a3e30a9e8.png)

[2015-11-07 14:05] deveee commented on #218
My three years old son said:
- this one is strange:
https://cloud.githubusercontent.com/assets/8949851/11015437/18dc3dde-852d-11e5-999c-ca0a3e30a9e8.png
- this one is ugly:
https://raw.githubusercontent.com/SuperTux/supertux/master/data/images/engine/icons/supertux-256x256.png
- and this one is nice:
http://sarrel.deviantart.com/art/Supertux-Dock-Icon-176711771
:PPP

[2015-11-07 17:33] brmbrmcar commented on #218
The one in the repository is better.

[2015-11-07 17:34] brmbrmcar commented on #218
How was every part of the original made? Get back to the graphics of Tux, scale it back and stick it on the background.

[2015-11-07 17:36] Karkus476 commented on #217
@maxteufel It is ``priority:extremely low`` before M2 though

[2015-11-07 17:39] Karkus476 commented on #218
@devee Your three-year-old son was correct

[2015-11-07 17:40] brmbrmcar commented on #217
No. It is Milestone 3. It will be years before Milestone 2.9 comes out to show it off. It should be low, and upgrade to medium after 0.4.2.

[2015-11-07 17:41] Karkus476 commented on #217
@brmbrmcar There are releases in between M2 and M3, even if they are development releases

[2015-11-07 17:42] Karkus476 opened #219 "Weekly/Fortnightly Releases"
Each Week/Fortnight, the game could be built for each platform and put on the downloads repo

[2015-11-07 17:43] brmbrmcar commented on #219
Awesome!

[2015-11-07 17:44] brmbrmcar commented on #217
I k-now. I mentioned that they will still not demo stuff like swimming for ages. At least not the official build.

[2015-11-07 17:53] maxteufel commented on #219
Windows/OS X builds could be a bit hard (unless it's possible to build ST using MinGW); additionally we'd need a CI server (Jenkins/nightly builds would be a bit too much for my 1G VPS) - find a sponsor or someone from the team paying for a server is probably the only solution right now.

[2015-11-07 17:55] Karkus476 commented on #219
@maxteufel I intentionally did not say nightly. It's too much fuss. MinGW works doesn't it?

[2015-11-07 17:55] brmbrmcar commented on #219
Minutely releases!

[2015-11-07 17:56] Karkus476 commented on #219
Fortnightly is not too often to be done manually

[2015-11-07 17:56] Karkus476 commented on #219
@brmbrmcar exactly :D

[2015-11-07 18:00] maxteufel commented on #219
Well, nightly, fortnightly, weekly doesn't make much difference. If you have resources to automatically provide weekly builds, nightly should work too. But if someone wants to provide builds, why not? I guess I could also upload weekly manual builds for Arch Linux (but only x86_64).

[2015-11-07 18:02] Karkus476 commented on #219
Thinking of the resources we have, we should be able to do OSX and Debian. Windose however...

[2015-11-07 18:35] brmbrmcar commented on #219
Linux only!

[2015-11-07 19:19] tobbi commented on #219
Does anyone know suitable sponsors that would be willing to pay for things like that?

[2015-11-07 19:38] sydneyjd commented on #218
Yes he was.. ;(

[2015-11-07 21:06] brmbrmcar commented on #218
I think that the one in the repository should be used.

[2015-11-08 10:40] brmbrmcar commented on #219
Where will they be put?

[2015-11-08 16:17] brmbrmcar commented on #156
This should be looked into.

[2015-11-08 16:50] tobbi commented on #156
No, it's intended behaviour.

[2015-11-08 16:50] #156 closed

[2015-11-08 17:52] sydneyjd commented on #218
Here is an updated version... Opinions? Im no great artist to say the least...
![6](https://cloud.githubusercontent.com/assets/8949851/11021660/9955212a-8617-11e5-84dc-8290747dd76e.png)

[2015-11-08 18:00] brmbrmcar commented on #218
Pretty good.

[2015-11-09 05:33] spider2016 commented on #200
Hello again! I have new error!
Please tell me? what i did wrong?
I'm doing the same as six months ago. Everything worked six months ago.
1)git clone --recursive https://github.com/SuperTux/supertux
directory has directory with tiny library and squirel library.
2)  cd directory supertux
and after that:
git submodule update --init --recursive ./
i see empy at the screen.
3) mkdir build; cd build
4)

[2015-11-09 06:31] Hume2 commented on #207
I can't reproduce it.

[2015-11-09 08:30] spider2016 opened #221 "Can not compiled actual supertux"
You can see begin of issue here:
https://github.com/SuperTux/supertux/issues/200
What i do wrong?
I tried with submodel, so i use clone without recursive and i can use git submodel update --init --recursive, but after complilled i can see error :-(
./supertux2: error while loading shared libraries: libtinygettext.so: cannot open shared object file: No such file or directory

[2015-11-09 15:45] brmbrmcar commented on #221
Does anyone know where libtinygettext.so is actually meant to be kept?

[2015-11-09 16:29] maxteufel commented on #221
You need to have all required libraries somewhere in your dynamic linker's path. If it already is, then try to run `ldconfig(8)`

[2015-11-09 16:29] #221 closed

[2015-11-09 16:35] maxteufel commented on #200
That is because you installed to `/home/chaos/T9/` (as seen below), but now are trying to use another, (older/newer) version of `libtinygettext.so` located in `/usr/local/lib`. Using a library version different to the one the binary is linked to can and will cause problems.

[2015-11-09 16:41] Karkus476 commented on #221
@maxteufel You've closed this. Are you sure this fixed his problem?

[2015-11-09 16:42] brmbrmcar commented on #221
I have no idea. Re-open.

[2015-11-09 16:46] Karkus476 commented on #72
Okay, to save space I'll close this. But if another issue is made about it, we will close that and open this.

[2015-11-09 16:46] #72 closed

[2015-11-09 16:46] spider2016 commented on #221
Karkus476  have you this problem too? ldconfig don't help me.
so, submodule for maxteufel :
 git submodule update --init --recursive ./
Submodule 'external/squirrel' (https://github.com/SuperTux/squirrel.git) registered for path 'external/squirrel'
Submodule 'external/tinygettext' (https://github.com/SuperTux/tinygettext.git) registered for path 'external/tinygettext'
Cloning into 'external/squirr

[2015-11-09 16:48] brmbrmcar commented on #72
Bad idea.

[2015-11-09 16:49] Karkus476 commented on #72
@brmbrmcar Why?

[2015-11-09 16:51] brmbrmcar commented on #72
Because the issue may still be there. Closed = resolved.

[2015-11-09 16:51] brmbrmcar commented on #72
Is it resolved?

[2015-11-09 16:52] Karkus476 commented on #221
@spider2016 Are you on Linux?

[2015-11-09 16:52] maxteufel commented on #221
I've closed this. This issue tracker is definitively not for general Linux/UNIX support.

As of the current commit in the master branch, I can not reproduce this. The libraries are getting installed to the path where they are supposed to be (and the version they are supposed to be). If an individual system configuration introduces a *bug*, we can't really fix this because `ld(1)` is doing what it'

[2015-11-09 16:53] brmbrmcar commented on #221
Fedora.

[2015-11-09 16:56] Karkus476 commented on #221
@brmbrmcar Have you had this issue?

[2015-11-09 16:57] maxteufel commented on #221
To actually clarify what `ld(1)` does:

* the `supertux2` binary says 'look for `libtinygettext.so`'
* `ld(1)` looks in its configuration files and environment variables for possible locations for `libtinygettext.so`
* `ld(1)` looks in all those directories and takes the first that contains `libtinygettext.so` (the order is specified in the configuration)

If `ld(1)` can't find `libtinygettext.so`

[2015-11-09 16:59] brmbrmcar commented on #221
@Karkus476 No. I was telling you his OS.

[2015-11-09 17:15] Karkus476 commented on #214
@maths22 thanks, I've resolved this issue. Maybe #219 will make this less complex

[2015-11-09 17:15] #214 closed

[2015-11-09 17:18] sydneyjd commented on #219
I have a server i could do this on, i just don't have a clue on how to build the builds. :)

[2015-11-09 17:19] Karkus476 commented on #219
I think we should call them 'snapshots'

[2015-11-09 18:13] spider2016 commented on #221
My OS is Russian Fedora 22
I tried to include a local library and supertux WORKED .So library from https://github.com/tinygettext/tinygettext is not WORKED. This is my main problem, I used bad library!!!
so for worked supertux your need:
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/chaos/T58/lib/ where /home/chaos/T58/ is a local directory, where you installed your supertux.

[2015-11-09 18:14] Karkus476 commented on #219
In a GitHub repo, I hope

- Karkus
You can't unsubscribe from this.

[2015-11-09 18:17] maxteufel commented on #221
That is expected as well, because we're using <https://github.com/SuperTux/tinygettext>.

[2015-11-09 18:18] brmbrmcar commented on #221
He used that this time.

[2015-11-09 18:31] Karkus476 commented on #209
But idk how to fix the conflicts :/

[2015-11-09 18:31] spider2016 commented on #221
So, I don't know:
ls -lh /usr/local/lib/libtinygettext.so /home/chaos/T58/lib/libtinygettext.so
-rwxr-xr-x 1 chaos chaos 161K ноя  9 08:52 /home/chaos/T58/lib/libtinygettext.so
-rwxr-xr-x 1 root  root  157K окт 21 09:07 /usr/local/lib/libtinygettext.so

different size!
But i repeat again, in May, i have not problem with compiled and running supertux.

[2015-11-09 18:34] maxteufel commented on #221
Yeah, because they're different versions.

There were some changes in the build infrastructure since May. You can't expect any software to keep the same build infrastructure and not breaking anything (especially in snapshots/betas like 0.3.z).

[2015-11-09 20:15] spider2016 commented on #221
maxteufel, 0.3.z cool  version. This version differ than 0.3.5a
May be you will be interesting a lot of warnings:
tinygettext: levels/incubator/ru.po:21: warning: unknown Plural-Forms given:
tinygettext: levels/bonus3/ru.po:21: warning: unknown Plural-Forms given:
tinygettext: levels/bonus2/ru.po:22: warning: unknown Plural-Forms given:
tinygettext: levels/bonus1/ru.po:21: warning: unknown Plural-

[2015-11-09 20:52] tobbi commented on #221
These tinygettext warnings should be removed so they don't spam to the log output.

[2015-11-10 07:34] Karkus476 commented on #221
This _needs_ it's own issue

- Karkus

[2015-11-10 17:14] tobbi opened #222 "Remove tinygettext command line outputs"
In order for tinygettext to not spam the log output, those log_debug etc. snippets should be removed on our tree. I doubt there's a way to get the log level settings from SuperTux over to the submodule.

[2015-11-11 19:29] #219 closed

[2015-11-11 19:30] Karkus476 commented on #216
Unless anyone objects, this is Post 0.4.0

[2015-11-11 19:31] tobbi commented on #216
Nope. I am pushing a fix right now.

[2015-11-11 19:31] #216 closed

[2015-11-11 19:32] Karkus476 commented on #184
Moving this back to post 0.4.0, this will appear immediately afterwards, I hope

[2015-11-11 19:32] Karkus476 commented on #216
Right :)

[2015-11-11 19:33] Karkus476 commented on #218
@sydneyjd It's still not right. Someone probably needs to redo this.

[2015-11-11 20:29] sydneyjd commented on #218
I agree, and i feel im not the one to do this.

[2015-11-11 20:32] brmbrmcar commented on #218
Keep the repo one.
Do a vote.

[2015-11-11 20:37] #178 closed

[2015-11-11 20:57] #222 closed

[2015-11-11 22:07] tobbi commented on #185
I checked in your worldmap changes, sydney.

[2015-11-11 22:07] #185 closed

[2015-11-11 22:22] Karkus476 opened #224 "Local 2+ Player Multiplayer"
A few steps to this:
- [ ] Format
  -  Split Screen
  -  [One Screen](https://youtu.be/pipMu0HXiU0?t=50s)
- [ ] Second player (with sprites)
  - Penny?
- [ ] New control configs for new player
- [ ] Play campaign?

[2015-11-12 07:43] brmbrmcar commented on #224
Nice.

[2015-11-13 20:56] Karkus476 commented on #72
@brmbrmcar Yes. If it occurs again I will edit this comment.

[2015-11-13 20:58] brmbrmcar commented on #72
That is not resolved. That is "ah, noone has mentioned it yet".

[2015-11-13 21:04] Karkus476 commented on #72
@brmbrmcar I admire your persistance. Please feel free to replicate this issue (on the latest code) and reopen this with evidence

[2015-11-13 21:05] brmbrmcar commented on #72
I would, but how?

[2015-11-13 21:06] brmbrmcar commented on #72
Oh. Latest builds.

[2015-11-14 14:50] Karkus476 commented on #175
@Hume2 That can't be. If they are going to be part of the SuperTux addons repo, they may well need to be edited by us.

[2015-11-14 16:27] Hume2 commented on #175
@Karkus476 It's not as hard to find out which level it is. And we have to let it as is, because the original author might want to update his addon and he could have still the original filenames. Really, getting which level is which takes minimum time. And when you use a translation pack, you'd have to do it anyway. Actually, it takes far less time than updating with the new filenames.

[2015-11-14 16:37] brmbrmcar commented on #175
And also, making it really complicated will stop people making addons.

[2015-11-14 16:58] Hume2 commented on #175
That's it. When we want from the community to contribute levels, it must be easy. I'm not even talking about the editor.

[2015-11-14 20:38] Karkus476 commented on #175
@Hume2 @brmbrmcar Should I close this then?

[2015-11-14 20:43] brmbrmcar commented on #175
What?

[2015-11-14 20:46] Karkus476 commented on #175
This issue

[2015-11-14 20:56] brmbrmcar commented on #175
Noo.

[2015-11-15 13:10] brmbrmcar opened #225 "All my wanted Console commands"
I will try and implement the following:
- [x] Level restart.
- [x] X, Y level spawning.
- [ ] Profile switch.
- [ ] Fix of showing all the commands.

[2015-11-15 13:17] Karkus476 opened #226 "Run Console Commands From Another Process"
Put simply, I want Flexlay to be able to call console commands for its SuperTux subprocess. This may already be possible.

[2015-11-15 13:20] brmbrmcar commented on #226
OK, it will have to change both Flexlay and Supertux, but it should be quite simple. What commads are you thinking of running?

[2015-11-15 13:21] Karkus476 commented on #226
Flexlay is not a part of this issue. Any and all of them.

[2015-11-15 13:22] brmbrmcar commented on #226
So Flexlay supports it, but Supertux doesn't?

[2015-11-15 13:23] Karkus476 commented on #226
This could be useful for a number of reasons, but would have to be security concious. No, Flexlay doesn't support this, but the issue is concerning SuperTux. If the changes are made to SuperTux, I would close this

[2015-11-15 13:26] brmbrmcar commented on #226
Maybe we could develop a mode for this to be enabled.

[2015-11-15 13:26] Karkus476 commented on #226
@brmbrmcar Yes, that would probably be needed

[2015-11-15 13:26] brmbrmcar commented on #226
Where do we start?

[2015-11-15 13:27] Karkus476 commented on #226
We need to decide how the processes will communicate

[2015-11-15 13:27] brmbrmcar commented on #226
That's where I know absolutely nothing.

[2015-11-15 13:29] Karkus476 commented on #226
Here's where we need to start I guess <https://en.wikipedia.org/wiki/Inter-process_communication>

[2015-11-15 13:29] brmbrmcar commented on #226
Do you know how to do it?

[2015-11-15 13:30] maxteufel commented on #226
On UNIX mostly files/FIFO, [D-Bus](https://en.wikipedia.org/wiki/D-Bus) or some other socket-based communication (TCP socket, file socket).

[2015-11-15 13:31] Karkus476 commented on #226
@brmbrmcar I do not :D

[2015-11-15 13:31] brmbrmcar commented on #226
Who does?

[2015-11-15 13:31] Karkus476 commented on #226
@maxteufel I am thinking sockets

[2015-11-15 13:32] maxteufel commented on #226
I'd prefer FIFO, because it's not that bloated.

[2015-11-15 13:33] Karkus476 commented on #226
@maxteufel I do not know anything about this. First in first out... of what?

[2015-11-15 13:34] maxteufel commented on #226
https://en.wikipedia.org/wiki/Named_pipe

[2015-11-15 13:36] Karkus476 commented on #226
@maxteufel This is a two-way thing, right?

[2015-11-15 15:13] brmbrmcar opened #227 "Screen going blank on startup, game then freezes"
Not really sure how to explain it.

[2015-11-15 15:18] Karkus476 commented on #227
Does this stop the game working?(does it crash?) and could we have a screenshot?

- Karkus

[2015-11-15 15:25] Karkus476 commented on #226
I worry this may harm portability...

[2015-11-15 15:33] brmbrmcar commented on #227
I will try...

[2015-11-15 16:42] tobbi commented on #207
Program received signal EXC_BAD_ACCESS, Could not access memory.
Reason: KERN_INVALID_ADDRESS at address: 0x0000000000000004
0x000000010035f162 in SQVM::Execute ()
(gdb) bt full
#0  0x000000010035f162 in SQVM::Execute ()
No symbol table info available.
#1  0x000000010035ed33 in SQVM::Call ()
No symbol table info available.
#2  0x0000000100336cf5 in sq_call ()
No symbol table info available.
#3  0x

[2015-11-15 17:01] tobbi commented on #207
[bug.stl.txt](https://github.com/SuperTux/supertux/files/34914/bug.stl.txt)

[2015-11-16 10:00] tobbi opened #228 "Make language add-ons work without a restart"
I doubt we'll make this in time for 0.4.0, but it's definitely something to think about.

Unfortunately, all my efforts towards resolving this issue have been fruitless so far. Adding strings to the dictionary might work after screen switch (after it gets a chance to load the strings again), however, removing the language add-on does nothing until probably after restart.

Any idea how to resolve t

[2015-11-16 16:46] brmbrmcar opened #229 "Stop doors fom blacking out the screen when they aren't being used"
It is extremely annoying in some levels where there is a door near a jump, and you cannot see what you are doing, making the jump very difficult.

[2015-11-16 17:40] Hume2 commented on #229
Agreed.

[2015-11-16 17:40] brmbrmcar commented on #229
So remove it?

[2015-11-16 17:41] Hume2 commented on #229
I'm not so sure.
It happens only when you have jumping with up.
Let's see what the other will say.

[2015-11-16 17:43] brmbrmcar commented on #229
Oh yes, I use jump with up (co-ordinating with the space bar is too hard for me).

[2015-11-16 17:48] Hume2 commented on #229
The jump key has been the up key since 0.1.2. It was changed to spacebar in 0.1.3 and there are separate up and jump actions since 0.3.0. The jump with up it there since 0.3.3.
Just some facts to start with.

[2015-11-16 17:53] brmbrmcar commented on #229
I know that much.

[2015-11-17 16:39] brmbrmcar opened #231 "Make set_bonus work again"
It is extremely useful.

[2015-11-17 22:47] Karkus476 commented on #229
Please could I have a screenshot, I may be a very simple person, but I cannot understand

[2015-11-17 22:48] Karkus476 commented on #228
@tobbi Sehr bunt

[2015-11-18 18:55] Karkus476 commented on #229
@brmbrmcar Please could I have a screenshot, I may be a very simple person, but I cannot understand

[2015-11-18 23:25] Karkus476 commented on #228
@tobbi Also, what do you need to discuss, and with whom?

[2015-11-19 09:34] tobbi commented on #228
I'd like to discuss implementation details with the rest of the team. I don't know how to figure out how to do this on my own. So if anyone wants to take a shot at this, go right ahead.

[2015-11-19 09:37] tobbi commented on #228
Basically, tinygettext loads the language files and updates the cache when a new dictionary gets loaded in, however, that doesn't make the UI update. I believe in order to make the UI update, additional steps are needed.

[2015-11-19 15:47] sydneyjd commented on #218
Ok, for now we will keep our current logo.
Reason one is that the "new" logo doesn't match our game style.
Reason two is that i would prefer that the icon designer would come to us directly with it, not making us go find the icon than seek the author so we can get a propper licence. Its a PITB.
Also, i will just close this issue unless someone decides else or makes a decent looking one that fits o

[2015-11-19 15:47] #218 closed

[2015-11-20 15:45] sydneyjd commented on #175
#232

[2015-11-20 21:48] marc280492 opened #233 "Windows: Link Shouldn't Be Inside a Folder in the Start Menu"
Hello, I would like to propose something. When install the program on your computer with Windows, a folder is created in the Start menu, in the list of apps. Inside this folder there is only one direct access to enter the game. Would not it be better to put the program directly without folders? At least,  in Windows 10 it is much better.

![sense titol](https://cloud.githubusercontent.com/assets/1

[2015-11-20 21:49] brmbrmcar commented on #233
That will be fixed later.

[2015-11-20 21:49] sydneyjd commented on #233
4.0 has not been released, so when did this naming start?

[2015-11-20 21:50] brmbrmcar commented on #233
Nightly builds

[2015-11-20 21:50] marc280492 commented on #233
Download: http://forum.freegamedev.net/viewtopic.php?f=67&t=6630

[2015-11-20 21:51] sydneyjd commented on #233
Ah. :-)

[2015-11-20 21:52] sydneyjd commented on #233
@marc280492 We just started releasing the nightly builds, so not all the bugs have been wrinked out.
@maths22 Is this something you can fix?

[2015-11-21 11:51] brmbrmcar opened #234 "Making Tux air or earth on death displays hat"
It doesn't happen for ice or fire.

[2015-11-21 12:02] Hume2 commented on #233
Windows 10 is a spyware.
...that doesn't have to be an excuse, but I'd like to.

[2015-11-21 12:51] brmbrmcar commented on #233
What about innocent Wine?

[2015-11-21 14:16] maths22 commented on #233
Nightly builds are currently still a work in progress.  I will fix the DLL issue.  I will also see if it is possible to not create a start menu folder.

[2015-11-21 14:43] symvizan commented on #208
Gamepedia.

[2015-11-21 14:45] Karkus476 commented on #208
@symvizan I don't think so. We are trying to keep our resources in one place, with the website, old wiki, GitHub and the forums everything is becoming spread loosely

[2015-11-21 14:53] Karkus476 commented on #233
@maths22 For some reason, I am unable to assign this issue to you.

[2015-11-21 14:53] maxteufel commented on #233
You can't assign issues to people who aren't organization members.

[2015-11-21 14:54] Karkus476 commented on #233
@maxteufel Ah. I thought maths22 was a member

[2015-11-21 14:57] tobbi commented on #233
I will add him

[2015-11-21 15:28] brmbrmcar commented on #234
![screenshot from 2015-11-21 15 27 56](https://cloud.githubusercontent.com/assets/14400196/11319143/8482e5e6-9064-11e5-9e9d-615aed3f2ed8.png)